

<style>
    .control-label {
        font-size: 11px !important;
        color: #2b89e0;
        font-family: Tahoma;
    }

    .form-control {
        font-size: 11px;
        height: 30px;
    }

    .contentCombo .select2-container {
        margin-left: 0px;
        margin-top: -10px;
        width: 98% !important;
    }

    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
    }


    .ModalBorderSombra .modal-content {
        box-shadow: inset 0px 0px 7px rgba(0,0,0,.5), 1px 1px 5px #fff;
    }

    .contenedorGrupo legend {
        font-size: 12px !important;
        font-family: GillSans, Calibri, Trebuchet, sans-serif;
        color: #2c5ca9;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .contenedorGrupo fieldset {
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #2c4d6d;
        padding-bottom: 10px;
        border-radius: 4px;
    }

    .ContentFilters .select2-container .select2-choice, label {
        font-size: 11px;
    }

    .input-group-btn .btn {
        padding: 8px 12px;
        height: 30px;
    }

    .jq-toast-wrap.top-right {
        top: 20px;
        right: 40px;
        width: 300px;
    }

    #padre {
        display: table;
        height: 200px;
    }

    #hijo {
        display: table-cell;
        vertical-align: middle;
    }

    .table-content-class {
        overflow-y: scroll;
        overflow-x: scroll;
    }

    .pagination > li > a, .pagination > li > span {
        padding: 1px !important;
        color: #337ab7 !important;
    }

    #s2id_cbo_tipo_Factura {
        width: 25% !important;
        margin-bottom: -7px;
    }
</style>


<script language=Javascript>
    function isNumberKey(evt) {
        var charCode = evt.which ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>

<script language="JavaScript">
    function NumCheck(e, field) {
        key = e.keyCode ? e.keyCode : e.which;
        // backspace
        if (key === 8) return true;
        // 0-9
        if (key > 47 && key < 58) {
            if (field.value === "") return true;
            regexp = /.[0-9]{2}$/;
            return !regexp.test(field.value);
        }
        // .
        if (key === 46) {
            if (field.value === "") return false;
            regexp = /^[0-9]+$/;
            return regexp.test(field.value);
        }
        // other key
        return false;

    }

</script>



<script type="text/javascript">

    function filterFloat(evt, input) {
        // Backspace = 8, Enter = 13, ‘0′ = 48, ‘9′ = 57, ‘.’ = 46, ‘-’ = 43
        var key = window.Event ? evt.which : evt.keyCode;
        var chark = String.fromCharCode(key);
        var tempValue = input.value + chark;
        if (key >= 48 && key <= 57) {
            if (filter(tempValue) === false) {
                return false;
            } else {
                return true;
            }
        } else {
            if (key == 8 || key == 13 || key == 0) {
                return true;
            } else if (key == 46) {
                if (filter(tempValue) === false) {
                    return false;
                } else {
                    return true;
                }
            } else {
                return false;
            }
        }
    }
    function filter(__val__) {
        var preg = /^([0-9]+\.?[0-9]{0,3})$/;
        if (preg.test(__val__) === true) {
            return true;
        } else {
            return false;
        }

    }

</script>


<script language="JavaScript">
    function data() {
        return {
            status: 'not_accepted'
        };
    }
</script>



<div class="container-fluid" ng-init="initAll();">
    <div class="panel-body ContentFilters contentCombo">
        <div class="well" style=" background-color:#dfe4ea;padding-bottom:0px;padding-top:0px">
            <br />
            <div class="row">
                <div class="col-sm-12" style="text-align:center">
                    <button class="btn btn-success" ng-click="Open_New_Modal();"><span class="glyphicon glyphicon-plus"></span> Nuevo Pedido</button>
                </div>
            </div>
            <br />
        </div>


        <div id="padre">
            <div id="hijo">
                <div style="text-align:center">
                    <div class="loaderModal" ng-if="loaderfiltros"></div>
                </div>
            </div>
        </div>

        <div class="row" style="display:none">
            <div class="col-sm-12">
                <div class="white-box">
                    <table id="data_cabecera" class="table m-b-0 toggle-arrow-tiny" data-page-size="5">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nro Pedido</th>
                                <th>Fecha Doc.</th>
                                <th>Vendedor</th>
                                <th>Cliente</th>
                                <th>Almacen</th>
                                <th>Nro. Documento</th>
                                <th>Fecha Doc</th>
                                <th>Importe Total</th>
                                <th>Estado</th>
                                <th>Editar</th>
                                <th>Rechazar Pedido</th>
                                @*<th>Imprimir</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Lista_DataCabecera">
                                <td>{{$index+1}}</td>
                                <td>{{item.Numero_Pedido}}  </td>
                                <td>{{item.fechaEmision_Pedido_Cab}}  </td>
                                <td>{{item.personal}}  </td>
                                <td>{{item.cliente}}  </td>
                                <td>{{item.descripcion_Almacen}}  </td>
                                <td>{{item.Numero_Documento}}  </td>
                                <td>{{item.fechaFactura_Pedido_Cab}}  </td>
                                <td>{{item.total_Neto_Pedido_Cab}}  </td>
                                <td ng-if="6 == item.estado"><span class="label label-success">Generada</span> </td>
                                <td ng-if="8 == item.estado"><span class="label label-primary">Facturado</span> </td>
                                <td ng-if="9 == item.estado"><span class="label label-info">Cancelación</span> </td>
                                <td ng-if="27 == item.estado"><span class="label label-danger">Rechazado</span></td>

                                <td style="text-align:center"><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline" ng-click="Open_Update_Modal(item);"><i class="ti-pencil-alt"></i></button></td>
                                <td style="text-align:center"><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline" ng-click="Rechazar_Pedido(item);"><i class="ti-close"></i></button></td>

                                @*<td><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline" ng-click="ImprimirDocumentos(item);"><i class="ti-printer"></i></button></td>*@
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right">
                        <ul class="pagination pagination-split m-t-30"></ul>
                    </div>
                </div>
            </div>
        </div>


        <div id="modalMantenimiento" class="modal fade bd-example-modal-lg ModalBorderSombra" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" style=" width: 95%;">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #162737;    text-align: right;">
                        <button type="button" data-dismiss="modal" aria-hidden="true" style="background: red !important;border: 1px solid black; color: white;">x</button>
                        <h4 class="modal-title" id="myLargeModalLabel" style="    color: white !important;  font-size: 15px;  text-align: left; margin-top: -26px;"> Generación de Pedidos</h4>
                    </div>
                    <div class="modal-body" data-spy="scroll">
                        <div class="loaderModal" ng-if="loader_modal"></div>

                        <!--  Cabecera del pedido -->
                        @*<div class="row {{disabledCabecera}}">*@
                        <div class="row">
                            <div class="col-sm-11 {{disabledCabecera}}">
                                <div class="row {{disablelocalAlmacen}}" style=" margin-bottom: -22px;">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div class="col-xs-6  col-sm-4 ">
                                                <label for="cbo_local_pedido" style=" margin-top: -11px; text-align:center" class="col-sm-2 control-label">Local</label>
                                                <div class="col-sm-6">
                                                    <select class="selectModal" id="cbo_local_pedido" ng-model="objeto_parametros.id_Local" ng-change="change_Local_Almacen_pedido(objeto_parametros.id_Local); Change_TipoDoc_Numeracion();">
                                                        <option value="0">[ ----  SELECCIONE  --- ]</option>
                                                        <option ng-repeat="item in Lista_Local" value="{{item.id_Local}}">
                                                            {{item.nombre_Local}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="cbo_almacen_pedido" style=" margin-top: -11px; text-align:center" class="col-sm-2 control-label">Almacen</label>
                                                <div class="col-sm-6">
                                                    <select class="selectModal" id="cbo_almacen_pedido" ng-model="objeto_parametros.id_Almacen">
                                                        <option value="0">[ ----  SELECCIONE  --- ]</option>
                                                        <option ng-repeat="item in Lista_Almacen_pedido" value="{{item.id_Almacen}}">{{item.descripcion_Almacen}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>

                                <div class="row contenedorGrupo">
                                    <div class="col-sm-6 {{disabledCabecera}}">
                                        <fieldset>
                                            <legend>Datos del Pedido</legend>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <form class="form-horizontal" role="form">

                                                        <div class="form-group" style="margin-top: -10px;">
                                                            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4 ">
                                                                <label for="ejemplo" class="col-sm-4  control-label">Cliente</label>
                                                                <div class="col-sm-8">
                                                                    <div class="input-group">
                                                                        <input type="text" id="txt_cod_cliente" class="form-control" ng-enter="Buscar_Cliente();" style="background-color: beige" ng-model="objeto_parametros.nrodoc_cliente" placeholder="Nro. Doc">
                                                                        <div class="input-group-btn">
                                                                            <button class="btn btn-primary" ng-click="Open_New_Modal_AyudaCliente();"><span class="glyphicon glyphicon-zoom-in"></span></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-8  ">
                                                                <div class="input-group">
                                                                    <span class="input-group-btn">
                                                                        <button href="#" class="btn btn-success" ng-click="AbrirModal_Mant_Clientes();"><span class="glyphicon glyphicon-list-alt"></span> </button>
                                                                    </span>
                                                                    <input type="text" class="form-control" ng-model="objeto_parametros.nombres_Cliente" disabled placeholder="Datos del cliente">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-sm-9">
                                                                <label for="cbo_vendedor" style="margin-top: -11px;" class="col-sm-3 control-label">Vendedor</label>
                                                                <div class="col-sm-9">
                                                                    <select class="selectModal" id="cbo_vendedor" ng-model="objeto_parametros.id_PersonalVendedor">
                                                                        <option value="0">[ ----  SELECCIONE  --- ]</option>
                                                                        <option ng-repeat="item in Lista_Vendedor" value="{{item.id_personal}}">{{item.apellidos_personal}}  {{item.nombres_personal}} </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-9">
                                                                @*<label for="cbo_puntoVenta" style="margin-top: -11px;" class="col-sm-3 control-label">Punto de Venta</label>
                                                                <div class="col-sm-9">
                                                                    <select class="selectModal" id="cbo_puntoVenta" ng-model="objeto_parametros.id_PuntoVenta">
                                                                        <option value="0">[ ----  SELECCIONE  --- ]</option>
                                                                        <option ng-repeat="item in Lista_PuntoVenta" value="{{item.id_PuntoVenta}}">{{item.descripcion_PuntoVenta}}</option>
                                                                    </select>
                                                                </div>*@
                                                                <label for="cboCanales" style="margin-top: -11px;" class="col-sm-4 control-label"> Canal de Negocio</label>
                                                                <div class="col-sm-8">
                                                                    <select class="selectModal" id="cboCanales" ng-model="objeto_parametros.id_CanalNegocio">
                                                                        <option value="0">[ ----  SELECCIONE  --- ]</option>
                                                                        <option ng-repeat="item in ListaCanalesNegocio " value="{{item.id_CanalNegocio}}">{{item.Nombre_CanalNegocio}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style=" margin-bottom: 1px;">
                                                            <div class="col-sm-12">
                                                                <label for="cbo_cond_facturacion" style="margin-top: -11px;" class="col-sm-3 control-label">Condicion de Facturacion</label>
                                                                <div class="col-sm-9">
                                                                    <select class="selectModal" id="cbo_cond_facturacion" ng-model="objeto_parametros.id_FormaPago">
                                                                        <option value="0">[ ----  SELECCIONE  --- ]</option>
                                                                        <option ng-repeat="item in Lista_CondicionFact" value="{{item.id_detalleTabla}}">{{item.descripcion_grupoTabla}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="col-sm-6 {{disabledCabecera}}">
                                        <fieldset>
                                            <legend>.</legend>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                                    <label for="cbo_TipoDoc" class="control-label">Tipo de Documento</label> <span class="help-block"></span>
                                                    <select class="selectModal" id="cbo_TipoDoc" ng-model="objeto_parametros.id_TipoDocumento" ng-change="change_tipoDoc();Change_TipoDoc_Numeracion();">
                                                        <option value="0">[ -SELECCIONE- ]</option>
                                                        <option ng-repeat="item in Lista_TipoDoc" value="{{item.id_TipoDocumento}}">{{item.Descripcion_TipoDocumento}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 selected-element animate-show-hide" ng-show="objeto_parametros.id_TipoDocumento == 3">
                                                    <label for="cbo_TipoDoc" class="control-label">Transporte</label> <span class="help-block"></span>
                                                    <div class="input-group col-xs-12 col-sm-12">
                                                        <input id="chk_transporrte" type="checkbox" ng-model="checkboxModel.value2" ng-true-value="'1'" ng-false-value="'0'" g-change="change_transporte(checkboxModel.value2);">
                                                    </div>
                                                </div>

                                                <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                                    <label for="cbo_TipoDoc" class="control-label">Nro Docum.</label> <span class="help-block"></span>
                                                    <div class="input-group col-xs-12 col-sm-12">
                                                        <input type="text" class="form-control" id="txt_serie" disabled ng-enter="enterFocus(1,'txt_num_doc')" maxlength="5" ng-model="objeto_parametros.serie" style="margin-top: -12px; width:60px;background-color: beige" placeholder="Serie">
                                                        <input type="text" class="form-control" id="txt_num_doc" disabled ng-enter="enterFocus(1,'dtp_doc')" maxlength="15" ng-model="objeto_parametros.num_doc" style="margin-top: -12px;width:100px;background-color: beige" placeholder="Nro. Doc">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12  col-sm-12 col-md-6 col-lg-4">
                                                    <label class="col-sm-12 control-label" style="text-align :left">Fecha Doc.</label>
                                                    <div class="input-group col-xs-12 col-sm-12">
                                                        <span class="input-group-addon"><i class="icon-calender"></i></span>
                                                        <input ng-model="objeto_parametros.fechaEmision_Pedido_Cab" ng-enter="enterFocus(1,'txt_observaciones')" id="dtp_doc" type="text" class="form-control datepicker ng-pristine ng-untouched ng-valid" placeholder="dia/mes/año">
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <form class="form-horizontal" role="form">
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <label for="cbo_vehiculo" style="margin-top: -11px;" class="col-sm-4 control-label">Unidad Vehicular</label>
                                                                <div class="col-sm-8">
                                                                    <select class="selectModal" id="cbo_vehiculo">
                                                                        <option value="0">[ -SELECCIONE- ]</option>
                                                                        <option ng-repeat="item in Lista_Vehiculo" value="{{item.id_vehiculo}}">{{item.vehiculo_Placa}}  : {{item.marca_Vehiculo}} </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-12" style=" margin-bottom: -13px;">

                                                                <div class="selected-element animate-show-hide" ng-show="objeto_parametros.id_TipoDocumento != 1">
                                                                    <label for="txt_observaciones" style="margin-top: -11px;" class=" col-xs-12 col-sm-4 col-md-3  control-label">Observaciones</label>
                                                                    <div class="col-xs-12 col-sm-8 col-md-9">
                                                                        <input type="text" class="form-control" ng-enter="enterFocus(1,'btnGuardarCab')" ng-model="objeto_parametros.observaciones_Pedido_Cab" style="margin-top: -12px;" placeholder="Observaciones / Comentarios">
                                                                    </div>
                                                                </div>
                                                                <div class="selected-element animate-show-hide" ng-show="objeto_parametros.id_TipoDocumento == 1">
                                                                    <label for="txt_observaciones" style="margin-top: -11px;" class=" col-xs-12 col-sm-4 col-md-3  control-label">Observaciones</label>
                                                                    <div class="col-xs-12 col-sm-8 col-md-9">
                                                                        <input type="text" class="form-control" ng-enter="enterFocus(1,'btnGuardarCab')" ng-model="objeto_parametros.observaciones_Pedido_Cab" style="margin-top: -12px;" placeholder="Observaciones / Comentarios /Nro Guia de remision(opcional)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-1">
                                <div class="form-group" style=" margin-top: 80px;">
                                    <button class="btn btn-block btn-outline btn-primary {{disabledCabecera}}" id="btnGuardarCab" ng-click="Guardar_Pedido_Cab();" style="    background: #168e4a !important;    border: 1px solid #168e4a !important;    color: #fff;">
                                        Guardar
                                    </button>
                                    <button class="btn btn-block btn-outline btn-primary" ng-click="nuevaGuia()" style=" background: #168e4a !important;    border: 1px solid #168e4a !important;    color: #fff;">Nuevo</button>
                                    <button class="btn btn-block btn-outline btn-primary {{disabledCabecera}}" data-dismiss="modal" style="    background: #168e4a !important;    border: 1px solid #168e4a !important;  color: #fff;">Cancelar</button>
                                </div>
                            </div>
                        </div>

                        <!--  Detalle del pedido -->
                        <div class="row  {{disabledDetalle}} ">
                            <div class="col-sm-11">
                                <div class="row contenedorGrupo">
                                    <div class="col-sm-12">
                                        <fieldset>
                                            <legend>Detalle del Pedido</legend>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <form class="form-horizontal" role="form">                                                        

                                                        <div class="form-group">
                                                            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2  ">
                                                                <div class="row {{disabledProd}} " style=" margin-top: -20px;">
                                                                    <div class="col-sm-12">
                                                                        <label for="txt_cod_producto" class="col-sm-3 control-label">Producto</label>
                                                                        <input type="text" id="txt_cod_producto" ng-enter="Buscar_Producto();" ng-model="objeto_parametros_detalle.codigo1_Producto" class="form-control" style="background-color: beige" placeholder="Codigo">
                                                                    </div>
                                                                </div> 
                                                            </div>
                                                            <div class="col-xs-12 col-sm-8 col-md-4 col-lg-5  " style=" margin-bottom: 10px;">
                                                                <div class="input-group">
                                                                    <span class="input-group-btn">
                                                                        <button class="btn btn-primary {{disabledProd}}" ng-click="Open_New_Modal_AyudaProducto();"><span class="glyphicon glyphicon-zoom-in"></span></button>
                                                                    </span>
                                                                    <input type="text" id="txt_desc_producto" ng-model="objeto_parametros_detalle.nombre_Producto" class="form-control" placeholder="Descripcion del Producto" disabled>
                                                                </div>
                                                            </div>

                                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                                                                <div class="row" style=" margin-top: -17px;">
                                                                    <div class="col-sm-3" ng-if="Flag_movLote == true">
                                                                        <label for="txt_nroLote" class="control-label">Lote.</label> <span class="help-block"></span>
                                                                        <input type="text" id="txt_nroLote" ng-model="objeto_parametros_detalle.nroLote" class="form-control" style="margin-top: -12px">
                                                                    </div>

                                                                    <div class="col-sm-2">
                                                                        <label for="txt_stock" class="control-label">Stock.</label> <span class="help-block"></span>
                                                                        <input type="text" id="txt_stock" ng-model="objeto_parametros_detalle.stock" disabled class="form-control" style="margin-top: -12px;text-align:right">
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <label for="txt_cantidad" class="control-label">Cant.</label> <span class="help-block"></span>
                                                                        <input type="text" id="txt_cantidad" onkeypress="return filterFloat(event,this);" ng-enter="enterFocus(1,'txt_precio')" ng-change="Calculo_Importe();" ng-model="objeto_parametros_detalle.cantidad_Pedido_Det" class="form-control" style="margin-top: -12px;text-align:right">
                                                                    </div>
                                                                    <div class="col-sm-2 ">
                                                                        <label for="txt_precio" class="control-label">Prec.</label> <span class="help-block"></span>
                                                                        <input type="text" id="txt_precio" ng-enter="enterFocus(1,'btnGuardarDet')" ng-change="Calculo_Importe();" ng-model="objeto_parametros_detalle.precioVenta_Pedido_Det" class="form-control" style="margin-top: -12px;text-align:right">
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <label for="txt_importe" class="control-label">Importe.</label> <span class="help-block"></span>
                                                                        <input type="text" id="txt_importe" disabled ng-model="objeto_parametros_detalle.total_Pedido_Det" class="form-control" style="margin-top: -12px; text-align:right">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </form>
                                                    <hr style=" margin-top: -25px; margin-bottom: 10px;" />
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <table id="data_detalle" class="table m-b-0 toggle-arrow-tiny" data-page-size="10">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Producto</th>
                                                                        <th>Descripción</th>
                                                                        <th>Marca</th>
                                                                        <th>U.M.</th>
                                                                        <th>Cantidad</th>
                                                                        <th>Precio</th>
                                                                        <th>Importe</th>
                                                                        <th colspan="2">Acciones</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="item in Lista_DataDetalle">
                                                                        <td>{{$index+1}}</td>
                                                                        <td>{{item.codigo1_Producto}}  </td>
                                                                        <td>{{item.nombre_Producto}}  </td>
                                                                        <td>{{item.nombre_marcaproducto}}  </td>
                                                                        <td>{{item.nombre_UnidadMedida}}  </td>
                                                                        <td>{{item.cantidad_Pedido_Det}}  </td>
                                                                        <td>{{item.precioVenta_Pedido_Det}}  </td>
                                                                        <td>{{item.total_Pedido_Det}}  </td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline " ng-click="Buscar_Producto_Edicion(item);"><i class="ti-pencil-alt"></i></button>
                                                                        </td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline " ng-click="EliminarPedido_detalle($index,item);"><i class="ti-trash"></i></button>
                                                                        </td>

                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-4  col-md-8 " style="text-align:center">
                                                            <button id="btn_generaCancelacion" ng-click="GenerarFacturacion_new();" class="btn btn-danger"><span class="glyphicon glyphicon-sd-video"></span> {{tituloProceso}} </button>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-8 col-md-4">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-12">
                                                                    <div class="text-right">
                                                                        <label for="txt_subTotal_G" class=" col-xs-3 col-sm-3 control-label">Sub-Total</label>
                                                                        <div class="col-xs-9 col-sm-9">
                                                                            <input type="text" id="txt_subTotal_G" style="text-align:right" ng-model="SubTotal_G" class="form-control" disabled>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6" style="display:none">
                                                                    <div class="form-group" style="margin-bottom: -17px;margin-top: -21px;">
                                                                        <input type="checkbox" id="chk_exonerada" ng-click="change_exonerada();" />
                                                                        <label for="chk_exonerada" style="font-size: 12px !important;color: red;text-decoration: underline;font-family: monospace;">Exonerada (IGV)</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-12">
                                                                    <div class="text-right">
                                                                        <label for="txt_igv_G" class="col-xs-3 col-sm-3 control-label">I.G.V</label>
                                                                        <div class="col-xs-9 col-sm-9">
                                                                            <input type="text" id="txt_igv_G" style="text-align:right" ng-model="Igv_G" class="form-control" disabled>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-12">
                                                                    <div class="text-right">
                                                                        <label for="txt_Total_G" class="col-xs-3 col-sm-3 control-label">Total</label>
                                                                        <div class="col-xs-9 col-sm-9">
                                                                            <input type="text" id="txt_Total_G" style="text-align:right" ng-model="Total_G" class="form-control" disabled>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12">
                                                            <div class="text-right">
                                                                <label for="cbo_tipo_Factura" style="font-size: 12px !important;color: red;text-decoration: underline;font-family: monospace;">Tipo Facturacion</label>
                                                                <select class="selectModal" id="cbo_tipo_Factura" ng-model="objeto_parametros.flag_tipo_facturacion" ng-change="cambiar_Facturacion(objeto_parametros.flag_tipo_facturacion);">
                                                                    <option value="1"> Gravado - (Normal)</option>
                                                                    <option value="2"> Exonerado - (Igv) </option>
                                                                    <option value="3"> Inafecta </option>
                                                                    <option value="4"> Gratuita </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <br />
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-1">
                                <div class="form-group" style=" margin-top: 50px;">
                                    <button class="btn btn-block btn-outline btn-primary" ng-click="nuevaGuia_det()" style=" background:#008efa !important; border: 1px solid #008efa; color:#fff">Nuevo</button>
                                    <button class="btn btn-block btn-outline btn-primary" id="btnGuardarDet" ng-click="Guardar_Pedido_Det();" style=" background:#008efa !important; border: 1px solid #008efa; color:#fff">Guardar</button>
                                    <button class="btn btn-block btn-outline btn-primary" ng-click="nuevaGuia_det()" style=" background:#008efa !important; border: 1px solid #008efa; color:#fff">Deshacer</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer " style=" background-color: #162737;">
                        <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cerrar</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


        <div id="modalAyuda_Cliente" class="modal fade bd-example-modal-lg ModalBorderSombra" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog" style=" width:80%;">
                <div class="modal-content">
                    <div class="modal-header" style=" background-color:#27ae60;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myLargeModalLabel" style="color:white !important; font-size: 15px;"> Ayuda Clientes</h4>
                    </div>
                    <div class="modal-body">
                        <div class="loaderModal" ng-if="loader_modal_ayuda"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text" id="txt_busquedaCliente" ng-enter="Ayuda_BuscarCliente();" class="form-control" style="background-color: beige" placeholder="Busqueda General">
                                <hr />
                            </div>
                        </div>
                        <div id="regionDetalle" style="display:none">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="white-box">
                                        <table id="tbl_busquedaCliente" class="table m-b-0 toggle-arrow-tiny" data-page-size="10">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    @*<th>Codigo</th>*@
                                                    <th>nroDoc</th>
                                                    <th>Cliente</th>
                                                    <th>Direccion</th>
                                                    <th>Accion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in Lista_Busqueda_Cliente">
                                                    <td>{{$index+1}}</td>
                                                    @*<td>{{item.codigoInterno_Cliente}}  </td>*@
                                                    <td>{{item.nroDoc_Cliente}}  </td>
                                                    <td>{{item.nombres_Cliente}}  </td>
                                                    <td>{{item.direccion_referencia}}  </td>
                                                    <td>
                                                        @* <button style="margin-top: -10px; margin-bottom: -10px;" type="button" class="btn btn-sm btn-icon btn-pure btn-outline " ng-click="Agregar_Cliente(item);"><i class="ti-check-box"></i></button>*@
                                                        <button class="btn btn-xs btn-success" ng-click="Agregar_Cliente(item);" title="Agregar"><span class="glyphicon glyphicon-ok"></span> </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-right">
                                            <ul class="pagination pagination-split m-t-30"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer " style=" background-color: #27ae60;">
                        <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cerrar</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div id="modalAyuda_Producto" class="modal fade bd-example-modal-lg ModalBorderSombra" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog" style=" width: 80%;">
                <div class="modal-content">
                    <div class="modal-header" style=" background-color:green;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myLargeModalLabel" style="color:white !important; font-size: 15px;"> Ayuda Productos</h4>
                    </div>
                    <div class="modal-body">
                        <div class="loaderModal" ng-if="loader_modal_ayuda"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text" id="txt_busquedaProducto" ng-enter="Ayuda_BuscarProducto();" class="form-control" style="background-color: beige" placeholder="Busqueda General">
                                <hr />
                            </div>
                        </div>
                        <div id="regionDetalle_Producto" style="display:none">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="white-box">
                                        <table id="tbl_busquedaProducto" ng-table="tableParamsClear()" class="table m-b-0 toggle-arrow-tiny" data-page-size="10">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Codigo</th>
                                                    <th>Descripcion</th>
                                                    <th>Marca</th>
                                                    <th>Unidad</th>
                                                    <th>Precio</th>
                                                    <th>Lote</th>
                                                    <th>Stock</th>
                                                    <th>Accion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in Lista_Busqueda_Producto">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{item.codigoInterno}}  </td>
                                                    <td>{{item.descripcion_producto}}  </td>
                                                    <td>{{item.nombre_marcaproducto}}  </td>
                                                    <td>{{item.unidadMedida}}  </td>
                                                    <td>{{item.precioventa_listaprecios}}  </td>
                                                    <td>
                                                        {{item.nroLote}}
                                                    </td>
                                                    <td>{{item.Stock}}  </td>
                                                    <td>
                                                        @* <button style="margin-top: -10px; margin-bottom: -10px;" type="button" class="btn btn-sm btn-icon btn-pure btn-outline " ng-click="Agregar_Producto(item);"><i class="ti-check-box"></i></button>*@
                                                        <button class="btn btn-xs btn-success" ng-click="Agregar_Producto(item);" title="Agregar"><span class="glyphicon glyphicon-ok"></span> </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-right">
                                            <ul class="pagination pagination-split m-t-30"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="modal-footer " style=" background-color: green;">
                        <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cerrar</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


        <div id="modalPagos" class="modal fade bd-example-modal-lg ModalBorderSombra" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog" style=" width: 40%;">
                <div class="modal-content">
                    <div class="modal-header" style=" background-color:darkred;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myLargeModalLabel" style="color:white !important; font-size: 15px;"> Pagos-Cancelaciones</h4>
                    </div>
                    <div class="modal-body">
                        <div class="loaderModal" ng-if="loader_modal_ayuda"></div>

                        <div class="row contenedorGrupo">
                            <fieldset>
                                <legend>Datos</legend>
                                <div class="row" style="margin-top: -15px;">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8">
                                        <label for="txt_totalCompra" class="control-label">Importe Total Compra.</label> <span class="help-block"></span>
                                        <input type="text" id="txt_totalCompra" class="form-control" disabled ng-model="objeto_parametros_pagos.totalpago" style="margin-top: -12px;text-align:right; font-size: 13px;">
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8">
                                        <label for="txt_pagoCuenta" class="control-label">Pago a Cuenta.</label> <span class="help-block"></span>
                                        <b><input type="text" id="txt_pagoCuenta" class="form-control {{disabledCuenta}}" ng-change="Calculo_Saldo();" style="background-color: beige;margin-top: -12px;text-align:right;font-size: 15px;color:red" ng-model="objeto_parametros_pagos.pagoCueta" placeholder="0.00"></b>
                                    </div>
                                    <div class="col-sm-2">
                                        <div style=" margin-top: 20px;">
                                            <label class="checkbox-inline"><input type="checkbox" ng-model="objeto_parametros_pagos.check_cuenta" ng-click="change_habilitarPagoCuenta(objeto_parametros_pagos.check_cuenta);" id="chk_pago"> <b style="font-size: 12px;">Pago Total </b></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8">
                                        <label for="txtsaldo" disabled class="control-label">Saldo.</label> <span class="help-block"></span>
                                        <b><input type="text" id="txtsaldo" disabled class="form-control" ng-model="objeto_parametros_pagos.Saldo" style="margin-top: -12px;text-align:right;font-size: 13px;"></b>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="row contenedorGrupo">
                            <fieldset>
                                <legend>Forma de Pago</legend>
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8" style="text-align:center">
                                        <div style="margin-top: -20px;">
                                            <label class="radio-inline"><input id="rb_efectivo" ng-click="change_habilitarDeposito();" type="radio" name="optradio" checked>Efectivo</label>
                                            <label class="radio-inline"><input id="rb_deposito" ng-click="change_habilitarDeposito();" type="radio" name="optradio">Depósito</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="row contenedorGrupo {{disabledDeposito}} ">
                            <fieldset>
                                <legend>Deposito</legend>

                                <div class="row" style="margin-top: -15px;">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8">
                                        <label for="cbo_banco" class="control-label">Banco</label> <span class="help-block"></span>
                                        <select class="selectModal" id="cbo_banco" ng-model="objeto_parametros_pagos.id_banco">
                                            <option value="0">[ -SELECCIONE- ]</option>
                                            <option ng-repeat="item in Lista_Bancos" value="{{item.id_detalleTabla}}">{{item.descripcion_grupoTabla}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8">
                                        <label class="control-label" style="text-align :left">Fecha Operación.</label>
                                        <div class="input-group col-xs-12 col-sm-12">
                                            <span class="input-group-addon"><i class="icon-calender"></i></span>
                                            <input ng-model="objeto_parametros_pagos.fechaOperacion" id="dtp_FechaOper" type="text" class="form-control datepicker ng-pristine ng-untouched ng-valid" placeholder="dia/mes/año">
                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8">
                                        <label for="txt_nroOperacion" class="control-label">Nro de Operacion.</label> <span class="help-block"></span>
                                        <input type="text" class="form-control" id="txt_nroOperacion" maxlength="50" ng-model="objeto_parametros_pagos.nroOperacion" style="margin-top: -12px;">
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="modal-footer " style=" background-color: darkred;">
                        <a class="btn btn-default" ng-click="GuardarPago();"><span class="glyphicon glyphicon-floppy-saved"></span> Guardar Pago</a>
                        <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cerrar</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


        <div id="modalManClientes" class="modal fade bd-example-modal-lg ModalBorderSombra" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog" style=" width: 45%;">
                <div class="modal-content">
                    <div class="modal-header" style=" background-color:darkgrey;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myLargeModalLabel" style="color:white !important; font-size: 15px;"> Agregar Cliente</h4>
                    </div>
                    <div class="modal-body">
                        <div class="loaderModal" ng-if="loader_modal_ayuda"></div>
                        <div class="row contenedorGrupo">
                            <fieldset>
                                <legend>Datos</legend>
                                <div class="row" style="margin-top: -15px;">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8">
                                        <label for="cbo_tipocliente" class="control-label">Tipo de Cliente.</label> <span class="help-block"></span>
                                        <select class="selectModal" id="cbo_tipocliente" ng-model="objeto_parametros_cliente.id_TipoCliente">
                                            <option value="0">[ -SELECCIONE- ]</option>
                                            <option ng-repeat="item in Lista_TipoCliente" value="{{item.id_detalleTabla}}">{{item.descripcion_grupoTabla}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-4">
                                        <label for="cbo_tipoDoc" class="control-label">Tipo Documento</label> <span class="help-block"></span>
                                        <select class="selectModal" id="cbo_tipoDoc" ng-model="objeto_parametros_cliente.id_DocumentoIdentidad" ng-change="change_TipoDocumento(objeto_parametros_cliente.id_DocumentoIdentidad);">
                                            <option value="0">[ ----  SELECCIONE  --- ]</option>
                                            <option ng-repeat="item in Lista_documento" value="{{item.id_detalleTabla}}">{{item.descripcion_grupoTabla}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="txt_nrodoc" class="control-label">Nro Doc. </label> <span class="help-block"></span>
                                        @* <input type="text" id="txt_nrodoc" class="form-control" onkeypress="return isNumberKey(event)" ng-model="objeto_parametros_cliente.nroDoc_Cliente" style="margin-top: -12px;text-align:left; font-size: 11px; width:200px;">*@
                                        <input type="text" id="txt_nrodoc" class="form-control" ng-enter="onSearchChange();" title="Busqueda en la Reniec" placeholder="Ingrese el nro. Doc" maxlength="20" onkeypress="return isNumberKey(event)" ng-model="objeto_parametros_cliente.nroDoc_Cliente" style="background-color: cornsilk;color: red;font-size: 13px !important; font-family: tahoma; margin-top: -12px;">
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-8">
                                        <label for="txt_nombresCliente" class="control-label">Datos del Cliente (Nombres / Razon Social)</label> <span class="help-block"></span>
                                        <input type="text" id="txt_nombresCliente" class="form-control" ng-model="objeto_parametros_cliente.nombres_Cliente" style="margin-top: -12px;text-align:left; font-size: 11px;">
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8">
                                        <label for="cbo_provincia" class="control-label">Departamento</label> <span class="help-block"></span>
                                        <select class="selectModal" id="cbo_departamento" ng-model="objeto_parametros_cliente.id_departamento" ng-change="change_departamento_provincia(objeto_parametros_cliente.id_departamento, 0);">
                                            <option value="0">[ ---SELECCIONE--- ]</option>
                                            <option ng-repeat="item in Lista_Departamentos" value="{{item.codigo_detalleTabla}}">{{item.descripcion_grupoTabla}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <label for="cbo_provincia" class="control-label">Provincia</label> <span class="help-block"></span>
                                        <select class="selectModal" id="cbo_provincia" ng-model="objeto_parametros_cliente.id_Provincia" ng-change="change_provincia_distrito(objeto_parametros_cliente.id_Provincia, 0);">
                                            <option value="0">[ ---SELECCIONE--- ]</option>
                                            <option ng-repeat="item in Lista_Provincia" value="{{item.id_detalleTabla}}">{{item.descripcion_grupoTabla}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5">
                                        <label for="cbo_distrito" class="control-label">Distrito</label> <span class="help-block"></span>
                                        <select class="selectModal" id="cbo_distrito" ng-model="objeto_parametros_cliente.id_distrito">
                                            <option value="0">[ -SELECCIONE- ]</option>
                                            <option ng-repeat="item in Lista_Distrito" value="{{item.id_distrito}}">{{item.nombre_distrito}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-8">
                                        <label for="txt_direccion" class="control-label">Dirección</label> <span class="help-block"></span>
                                        <input type="text" id="txt_direccion" class="form-control" ng-model="objeto_parametros_cliente.direccion_referencia" style="margin-top: -12px;text-align:left; font-size: 11px;">
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <label for="cbo_personalVendedor" class="control-label">Personal Vendedor</label> <span class="help-block"></span>
                                        <select class="selectModal" id="cbo_personalVendedor" ng-model="objeto_parametros_cliente.id_PersonalVendedor">
                                            <option value="0">[ ----  SELECCIONE  --- ]</option>
                                            <option ng-repeat="item in Lista_Vendedor" value="{{item.id_personal}}">{{item.apellidos_personal}}  {{item.nombres_personal}} </option>
                                        </select>

                                    </div>
                                    <div class="col-sm-5">
                                        <label for="cbo_condFacturacion" class="control-label">Condicion de Facturacion</label> <span class="help-block"></span>
                                        <select class="selectModal" id="cbo_condFacturacion" ng-model="objeto_parametros_cliente.cond_facturacion">
                                            <option value="0">[ ----  SELECCIONE  --- ]</option>
                                            <option ng-repeat="item in Lista_CondicionFact" value="{{item.id_detalleTabla}}">{{item.descripcion_grupoTabla}}</option>
                                        </select>

                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-8">
                                        <label for="txt_email" class="control-label">Email</label> <span class="help-block"></span>
                                        <input type="text" id="txt_email" class="form-control" ng-model="objeto_parametros_cliente.email_Cliente" maxlength="150" placeholder="Correo Electronico" style="margin-top: -12px;text-align:left;     font-size: 13px !important;">
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                    <div class="modal-footer " style=" background-color: darkgrey;">
                        <a class="btn btn-default" ng-click="GuardarCliente();"><span class="glyphicon glyphicon-floppy-saved"></span> Guardar</a>
                        <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cerrar</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


    </div>
</div>

