
<style>
    #listMenu span, a {
        text-align: left !important;
    }

    .contentRegistro fieldset legend {
        text-align: left !important;
    }

    .jq-toast-wrap {
        width: 300px !important;
    }

    .floating-labels label {
        top: -6px;
    }

    .contentRegistro .select2-container {
        margin-left: 0px;
        margin-top: 2px;
    }

    #paddin-lef {
        padding-left: 40px !important;
    }

    .contentCombo .select2-container {
        margin-left: 0px;
        margin-top: -20px;
        width: 95% !important;
    }
/*
    .ContentFilters .table {
        display: table;
    }
*/
    .contentRegistro label {
        font-size: 11px;
        font-family: tahoma;
        color: #2c5ca9;
        font-weight: 600;
    }

    .contentRegistro {
        margin: 0 auto;
        width: 100%;
    }

    .ModalBorderSombra .modal-content {
        box-shadow: inset 0px 0px 7px rgba(0,0,0,.5), 1px 1px 5px #fff;
    }



    .resaltado {
        color: #ff94a7 !important;
    }

    .text-right {
        margin-top: 0px;
        margin-bottom: 0px;
    }


    .tableFixHead {
        overflow-y: auto;
        height: 400px;
    }
 
/*
    .tableScroll {
        height: 20px !important;
    }*/
    .ContentFilters .table {
        display: inherit !important;
    }

</style>

<script type="text/javascript">

    function filterFloat(evt, input) {
        // Backspace = 8, Enter = 13, ‘0′ = 48, ‘9′ = 57, ‘.’ = 46, ‘-’ = 43
        var key = window.Event ? evt.which : evt.keyCode;
        var chark = String.fromCharCode(key);
        var tempValue = input.value + chark;
        if (key >= 48 && key <= 57) {
            if (filter(tempValue) === false) {
                return false;
            } else {
                return true;
            }
        } else {
            if (key == 8 || key == 13 || key == 0) {
                return true;
            } else if (key == 46) {
                if (filter(tempValue) === false) {
                    return false;
                } else {
                    return true;
                }
            } else {
                return false;
            }
        }
    }
    function filter(__val__) {
        var preg = /^([0-9]+\.?[0-9]{0,3})$/;
        if (preg.test(__val__) === true) {
            return true;
        } else {
            return false;
        }

    }

</script>

<div class=" container-fluid  contentRegistro contentCombo ContentFilters " ng-init="initAll();">
    <div class="panel-body ">

        <div class="row">
            <div class="col-sm-6 col-md-3">
                <label for="cbo_anexo"> Anexo </label> <span class="help-block"></span>
                <select class="selectFiltros" id="cbo_anexo" style="width:95%;" data-style="btn-default" ng-model="Objeto_ParametroFiltro.id_Anexos" ng-change="get_changeAnexoZonasFiltro(Objeto_ParametroFiltro.id_Anexos); change_anexo_Almacen_filtro(Objeto_ParametroFiltro.id_Anexos)">
                    <option value="0">[ ----  SELECCIONE  --- ]</option>
                    <option ng-repeat="item in lista_anexos" value="{{item.id}}">{{item.descripcion}}</option>
                </select>
            </div>
            <div class="col-sm-2">
                <label for="cbo_zonasFiltro"> Zona de Venta</label> <span class="help-block"></span>
                <select class="selectFiltros" id="cbo_zonasFiltro" ng-model="Objeto_ParametroFiltro.id_ZonaVta" ng-change="change_Local_vendedor(Objeto_ParametroFiltro.id_ZonaVta); change_Local_transportista(Objeto_ParametroFiltro.id_ZonaVta)">
                    <option value="0">[ ----  SELECCIONE  --- ]</option>
                    <option ng-repeat="item in Lista_zonasFiltro" value="{{item.id}}">  {{item.descripcion}} </option>
                </select>
            </div>
            <div class="col-sm-2">
                <label for="cbo_almacen">Almacen</label> <span class="help-block"></span>
                <select class="selectFiltros" id="cbo_almacen" ng-model="Objeto_ParametroFiltro.id_almacen">
                    <option value="0">[ ----  SELECCIONE  --- ]</option>
                    <option ng-repeat="item in Lista_Almacen" value="{{item.id_Almacen}}">{{item.descripcion_Almacen}}</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-3">
                <label for="cbo_vendedor">Vendedor</label> <span class="help-block"></span>
                <select class="selectFiltros" id="cbo_vendedor" ng-model="Objeto_ParametroFiltro.id_vendedor">
                    <option value="0">[ ----  TODOS  --- ]</option>
                    <option ng-repeat="item in Lista_Vendedor" value="{{item.id}}">{{item.descripcion}}  </option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group" style="    margin-bottom: 0px;">
                    <label class="control-label" style="text-align :left">Rango de Pedidos</label>
                    <br>
                    <div class="input-group">
                        <input ng-model="Objeto_ParametroFiltro.fechaIni" id="dtp_fechaIni" type="text" class="form-control input-sm   datepicker" placeholder="dia/mes/año">
                        <span class="input-group-addon bg-primary" style="color:white">al</span>
                        <input ng-model="Objeto_ParametroFiltro.fechaFin" id="dtp_fechaFin" type="text" class="form-control input-sm   datepicker" placeholder="dia/mes/año">
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <label for="cboTransportista" class="control-label"> Transportista </label> <span class="help-block"></span>
                <select class="selectFiltros" id="cboTransportista" ng-model="Objeto_ParametroFiltro.id_transportista">
                    <option value="0">[ ----  TODOS  --- ]</option>
                    <option ng-repeat="item in Lista_Transportista " value="{{item.id}}">{{item.descripcion}}</option>
                </select>
            </div>

            <div class="col-sm-6 col-md-3">
                <label for="cboEstado" class="control-label"> Estados </label> <span class="help-block"></span>
                <select class="selectFiltros" id="cboEstado" ng-model="Objeto_ParametroFiltro.id_estado">
                    <option value="0">[ ----  TODOS  --- ]</option>
                    <option ng-repeat="item in estados " value="{{item.id}}">{{item.descripcion}}</option>
                </select>
            </div>

            <div class="col-md-3">
                <br />
                <button id="btn-material" class="btn btn-outline btn-primary btn-sm m-l-10" ng-click="listandoRevisionesPedidoCab(0);">
                    <i class="glyphicon glyphicon-refresh"></i>Actualizar
                </button>
                <button id="btn-material" class="btn btn-outline btn-danger btn-sm m-l-10" ng-click="listandoRevisionesPedidoCab(1);">
                    <i class="glyphicon glyphicon-refresh"></i> Fuera Ruta
                </button>
 
            </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-12">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Buscar</span>
                    <input type="text" placeholder="Busqueda General . . " style="width: 120%;" class="form-control btn-block inputSearch" ng-model="search" autocomplete="off" @*onkeyup="this.value=this.value.toUpperCase();"*@>
                </div>
            </div>
        </div>

        <div class="loaderModal" ng-if="loaderFiltro"></div>

        <div class="white-box tableFixHead">
            <div class="checkbox clip-check check-danger checkbox-inline" style="margin-left: 10px;">
                <input type="checkbox" id="checkboxAll" value="1" ng-model="checkedAll" ng-click="marcarTodos(checkedAll)">
                <label for="checkboxAll">
                    Marcar Todos
                </label>
            </div>

            <table id="tablaRevisiones" class="table m-b-0 toggle-arrow-tiny" data-page-size="10">
                <thead style="background:rgba(17, 96, 142, 0.18)">
                    <tr>
                        <th>


                        </th>
                        <th  >Acciones</th>
                        <th> Nro Pedido</th>
                        <th> Fecha</th>
                        <th> Cliente</th>
                        <th> Nro Doc</th>
                        <th> Tipo Doc Venta</th>
                        <th> Forma Pago</th>
                        <th> Valor Bruto</th>
                        <th> IGV</th>
                        <th> Importe Neto</th>
                        <th> Fuera Ruta</th>
                        <th> Vendedor</th>
                        <th> Transportista</th>
                        <th> Estado</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in revisionPedidosCab  | filter : search " ng-class="{'resaltado': item.estado == 12}">
                        <td style="text-align: center;">
                            <label class="checkbox-inline" style="margin-top: -27px;"><input type="checkbox" value="" ng-model="item.checkeado"></label>
                        </td>
                        <td>
                            <span class="label label-primary" style="cursor:pointer" ng-if="item.estado != 12" ng-click="Open_Update_Modal(item)"> Editar </span>
                            <button type="button" class="btn btn-success btn-circle" style="margin-left: 5px"  ng-click="getAuditorias(item);" data-toggle="tooltip" title="AUDITAR"><i class="fa fa-cog"></i> </button>
                            <span class="label label-danger" style="cursor:pointer" ng-if="item.estado != 12" ng-click="Rechazar_Pedido(item)">Anular</span>
                        </td>

                        <td>{{item.nroPedido}}</td>
                        <td>{{item.fecha}}</td>

                        <td>{{item.cliente }}</td>
                        <td>{{item.nroDoc }}</td>

                        <td>{{item.tipoDoc}}</td>
                        <td>{{item.formaPago}}</td>
                        <td>{{item.valorBruto}}</td>
                        <td>{{item.igv}}</td>
                        <td>{{item.importeNeto}}</td>
                        <td>{{item.fueraRuta}}</td>
                        <td>{{item.vendedor}}</td>
                        <td>{{item.transportista}}</td>
                        <td>{{item.descripcionEstado}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <ul class="pagination pagination-split m-t-30"></ul>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-4 text-center">
                <br />
                <button id="btn-material" class="btn btn-outline btn-success btn-sm m-l-10" ng-click="aprobarPedidos();">
                    <i class="glyphicon glyphicon-refresh"></i> Aprobar
                </button>
                <button id="btn-material" class="btn btn-outline btn-warning btn-sm m-l-10" ng-click="reporteDespacho();">
                    <i class="glyphicon glyphicon-refresh"></i> Preliminar Despacho
                </button>
            </div>
            <div class="col-sm-6 col-md-2">
                <label class="control-label"> Nro Pedidos </label> <span class="help-block"></span>
                <input type="text" class="form-control form-control input-sm " readonly ng-model="Objeto_ParametroFiltro.nroPedido " style="margin-top: -12px;text-align:left; font-size: 15px !important;font-weight: 900;">
            </div>
            <div class="col-sm-6 col-md-2">
                <label class="control-label"> Valor Bruto </label> <span class="help-block"></span>
                <input type="text" class="form-control form-control input-sm " readonly ng-model="Objeto_ParametroFiltro.valorBruto" style="margin-top: -12px;text-align:right; font-size: 15px !important;font-weight: 900;">
            </div>
            <div class="col-sm-6 col-md-2">
                <label class="control-label"> Total IGV</label> <span class="help-block"></span>
                <input type="text" class="form-control form-control input-sm " readonly ng-model="Objeto_ParametroFiltro.totalIGV" style="margin-top: -12px;text-align:right; font-size: 15px !important;font-weight: 900;">
            </div>
            <div class="col-sm-6 col-md-2">
                <label class="control-label"> Total Neto</label> <span class="help-block"></span>
                <input type="text" class="form-control form-control input-sm " readonly ng-model="Objeto_ParametroFiltro.totalNeto" style="margin-top: -12px;text-align:right; font-size: 15px !important;font-weight: 900;">
            </div>
        </div>
    </div>
</div>



<div id="modalMantenimiento" class="modal fade bd-example-modal-lg ModalBorderSombra contentRegistro contentCombo ContentFilters" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="overflow-y: scroll;">
    <div class="modal-dialog modal-lg" style=" width: 95%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #162737;    text-align: right;">
                <button type="button" data-dismiss="modal" aria-hidden="true" style="background: red !important;border: 1px solid black; color: white;">x</button>
                <h4 class="modal-title" id="myLargeModalLabel" style="    color: white !important;  font-size: 15px;  text-align: left; margin-top: -26px;">  Venta Directa</h4>
            </div>
            <div class="modal-body">
                <div class="loaderModal" ng-if="loader_modal"></div>

                <!--  Cabecera del pedido -->
                <div class="row {{disabledCabecera}}">
                    <div class="col-sm-11">
                        <div class="row {{disablelocalAlmacen}}" style=" margin-bottom: -22px;">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <div class="col-sm-4 col-md-4">
                                        <label for="cbo_anexo_pedido" style=" margin-top: -11px; text-align:center" class="col-sm-3 control-label">Anexo</label>
                                        <div class="col-sm-8">
                                            <select class="selectModal" id="cbo_anexo_pedido" style="width:95%;" data-style="btn-default" ng-model="objeto_parametros.id_Anexos" ng-change="Change_TipoDoc_Numeracion(); get_changeAnexoZonasModal(objeto_parametros.id_Anexos); change_anexo_Almacen_modal(objeto_parametros.id_Anexos)">
                                                <option value="0">[ ----  SELECCIONE  --- ]</option>
                                                <option ng-repeat="item in lista_anexosModal" value="{{item.id}}">{{item.descripcion}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <label for="cbo_local_pedido" style=" margin-top: -11px; text-align:center" class="col-sm-4 control-label"> Zona Venta</label>
                                        <div class="col-sm-8">
                                            <select class="selectModal" id="cbo_local_pedido" ng-model="objeto_parametros.id_ZonaVta" ng-change="change_Local_vendedor_pedido(objeto_parametros.id_ZonaVta);  change_Local_transportista_pedido(objeto_parametros.id_ZonaVta)">
                                                <option value="0">[ ----  SELECCIONE  --- ]</option>
                                                <option ng-repeat="item in Lista_zonasModal" value="{{item.id}}">  {{item.descripcion}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <label for="cbo_almacen_pedido" style=" margin-top: -11px; text-align:center" class="col-sm-3 control-label">Almacen</label>
                                        <div class="col-sm-9">
                                            <select class="selectModal" id="cbo_almacen_pedido" ng-model="objeto_parametros.id_Almacen">
                                                <option value="0">[ ----  SELECCIONE  --- ]</option>
                                                <option ng-repeat="item in Lista_Almacen_pedido" value="{{item.id_Almacen}}">{{item.descripcion_Almacen}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>


                        </div>

                        <div class="row contenedorGrupo ">
                            <div class="col-sm-6">
                                <fieldset>
                                    <legend>Datos del Pedido</legend>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <form class="form-horizontal" role="form">

                                                <div class="form-group" style="margin-top: -10px;">
                                                    <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4 ">
                                                        <label for="ejemplo" class="col-sm-4  control-label">Cliente</label>
                                                        <div class="input-group">
                                                            <input type="text" id="txt_cod_cliente" class="form-control input-sm" ng-enter="Buscar_Cliente();" style="background-color: beige" ng-model="objeto_parametros.nrodoc_cliente" placeholder="Nro. Doc">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-primary  " ng-click="Open_New_Modal_AyudaCliente();" style="height: 30px;"><span class="glyphicon glyphicon-zoom-in" style="color:white"></span></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-8  ">
                                                        <input type="text" class="form-control input-sm" ng-model="objeto_parametros.nombres_Cliente" disabled placeholder="Datos del cliente">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-sm-9">
                                                        <label for="cbo_vendedor_pedido" style="margin-top: -11px;" class="col-sm-3 control-label">Vendedor</label>
                                                        <div class="col-sm-9">
                                                            <select class="selectModal" id="cbo_vendedor_pedido" ng-model="objeto_parametros.id_PersonalVendedor">
                                                                <option value="0">[ ----  SELECCIONE  --- ]</option>
                                                                <option ng-repeat="item in Lista_Vendedor_pedido" value="{{item.id}}">{{item.descripcion}}  </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group" style=" margin-bottom: 1px;">
                                                    <div class="col-sm-12">
                                                        <label for="cbo_cond_facturacion" style="margin-top: -11px;" class="col-sm-4 control-label">Condicion Facturacion</label>
                                                        <div class="col-sm-4">
                                                            <select class="selectModal" id="cbo_cond_facturacion" ng-model="objeto_parametros.id_FormaPago">
                                                                <option value="0">[ ----  SELECCIONE  --- ]</option>
                                                                <option ng-repeat="item in Lista_CondicionFact" value="{{item.id_detalleTabla}}">{{item.descripcion_grupoTabla}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="col-sm-6">
                                <fieldset>
                                    <legend>.</legend>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                            <label for="cbo_TipoDoc" class="control-label">Tipo de Documento</label> <span class="help-block"></span>
                                            <select class="selectModal" id="cbo_TipoDoc" ng-model="objeto_parametros.id_TipoDocumento" ng-change="change_tipoDoc();Change_TipoDoc_Numeracion();">
                                                <option value="0">[ -SELECCIONE- ]</option>
                                                <option ng-repeat="item in Lista_TipoDoc" value="{{item.id_TipoDocumento}}">{{item.Descripcion_TipoDocumento}}</option>
                                            </select>
                                        </div>
                                        <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                            <label for="cbo_TipoDoc" class="control-label">Nro Docum.</label> <span class="help-block"></span>
                                            <div class="input-group col-xs-12 col-sm-12">
                                                <input type="text" class="form-control input-sm" id="txt_serie" disabled ng-enter="enterFocus(1,'txt_num_doc')" maxlength="5" ng-model="objeto_parametros.serie" style="margin-top: -12px; width:52px !important ;background-color: beige" placeholder="Serie">
                                                <input type="text" class="form-control input-sm" id="txt_num_doc" disabled ng-enter="enterFocus(1,'dtp_doc')" maxlength="15" ng-model="objeto_parametros.num_doc" style="margin-top: -12px;width:90px !important;background-color: beige" placeholder="Nro.Doc">
                                            </div>
                                        </div>
                                        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-4">
                                            <label class="col-sm-12 control-label" style="text-align :left">Fecha Doc.</label>
                                            <div class="input-group col-xs-12 col-sm-12">
                                                <span class="input-group-addon"><i class="icon-calender"></i></span>
                                                <input ng-model="objeto_parametros.fechaEmision_Pedido_Cab" ng-enter="enterFocus(1,'txt_observaciones')" id="dtp_doc" type="text" class="form-control datepicker ng-pristine ng-untouched ng-valid " autocomplete="off" placeholder="dia/mes/año">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="cbo_vehiculo" style="margin-top: -11px;" class="col-sm-4 control-label"> Transportista</label>
                                                        <div class="col-sm-8">
                                                            <select class="selectFiltros" id="cbo_vehiculo" ng-model="objeto_parametros.id_PersonalTransportista">
                                                                <option value="0">[ ----  TODOS  --- ]</option>
                                                                <option ng-repeat="item in Lista_Transportista_pedido " value="{{item.id}}">{{item.descripcion}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12" style=" margin-bottom: -13px;">

                                                        <div class="selected-element animate-show-hide" ng-show="objeto_parametros.id_TipoDocumento != 1">
                                                            <label for="txt_observaciones" style="margin-top: -11px;" class=" col-xs-12 col-sm-4 col-md-3  control-label">Observaciones</label>
                                                            <div class="col-xs-12 col-sm-8 col-md-9">
                                                                <input type="text" class="form-control input-sm" ng-enter="enterFocus(1,'btnGuardarCab')" ng-model="objeto_parametros.observaciones_Pedido_Cab" style="margin-top: -12px;" placeholder="Observaciones / Comentarios">
                                                            </div>
                                                        </div>
                                                        <div class="selected-element animate-show-hide" ng-show="objeto_parametros.id_TipoDocumento == 1">
                                                            <label for="txt_observaciones" style="margin-top: -11px;" class=" col-xs-12 col-sm-4 col-md-3  control-label">Observaciones</label>
                                                            <div class="col-xs-12 col-sm-8 col-md-9">
                                                                <input type="text" class="form-control input-sm" ng-enter="enterFocus(1,'btnGuardarCab')" ng-model="objeto_parametros.observaciones_Pedido_Cab" style="margin-top: -12px;" placeholder="Observaciones / Comentarios /Nro Guia de remision(opcional)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>


                                </fieldset>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-1">
                        <div class="form-group" style=" margin-top: 80px;">
                            <br />
                            <br />

                            <button class="btn btn-block btn-outline btn-primary" id="btnGuardarCab" ng-click="Guardar_Pedido_Cab();" style=" background:#168e4a !important; border: 1px solid #168e4a; color:#fff">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                            @*<button class="btn btn-block btn-outline btn-primary" ng-click="nuevaGuia()" style=" background:#168e4a !important; border: 1px solid #168e4a; color:#fff">
                                <i class="fa fa-plus-circle"></i>
                                Nuevo
                            </button>*@ 
                        </div>
                    </div>
                </div>

                <!--  Detalle del pedido -->
                <div class="row  {{disabledDetalle}} ">
                    <div class="col-sm-11">
                        <div class="row contenedorGrupo">
                            <div class="col-sm-12">
                                <fieldset>
                                    <legend>Detalle del Pedido</legend>

                                    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2  ">
                                        <div class="row {{disabledProd}} " style=" margin-top: -20px;">
                                            <div class="col-sm-12">
                                                <label for="txt_cod_producto" class="col-sm-3 control-label">Producto</label>
                                                <br />
                                                <div class="input-group">
                                                    <input type="text" id="txt_cod_producto" ng-enter="Buscar_Producto();" ng-model="objeto_parametros_detalle.codigo1_Producto" class="form-control input-sm" style="background-color: beige" placeholder="Codigo">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary {{disabledProd}}" ng-click="Open_New_Modal_AyudaProducto();"><span class="glyphicon glyphicon-zoom-in" style="color:white"></span></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4  " style=" margin-bottom: 10px;">
                                        <input type="text" id="txt_desc_producto" ng-model="objeto_parametros_detalle.nombre_Producto" class="form-control input-sm " placeholder="Descripcion del Producto" readonly>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="row" style=" margin-top: -17px;">

                                            <div class="col-sm-3 {{disabledProd}} ">
                                                <label for="cbo_unidadModal">UM</label> <span class="help-block"></span>
                      
                                                <select class="selectFiltros" id="cbo_unidadModal" ng-model="objeto_parametros_detalle.id_UnidadMedida_Venta" ng-change="change_unidadStock();">
                                                    <option value="0">- ELIJA - </option>
                                                    <option ng-repeat="item in ListaUnidadMedidaModal" value="{{item.id_unidadMedida}}">{{item.nombre_UnidadMedida}}</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-2" ng-if="Flag_movLote == true">
                                                <label for="txt_nroLote" class="control-label">Lote.</label> <span class="help-block"></span>
                                                <input type="text" id="txt_nroLote" ng-model="objeto_parametros_detalle.nroLote" class="form-control" style="margin-top: -12px">
                                            </div>

                                            <div class="col-sm-2">
                                                <label for="txt_stock" class="control-label">Stock.</label> <span class="help-block"></span>
                                                <input type="text" id="txt_stock" ng-model="objeto_parametros_detalle.stock" disabled class="form-control input-sm" style="margin-top:-12px;text-align:right">
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="txt_cantidad" class="control-label">Cant.</label> <span class="help-block"></span>
                                                <input type="text" id="txt_cantidad" onkeypress="return filterFloat(event,this);" ng-enter="enterFocus(1,'txt_precio')" ng-change="Calculo_Importe();" ng-model="objeto_parametros_detalle.cantidad_Pedido_Det" class="form-control input-sm" style="margin-top: -12px;text-align:right">
                                            </div>
                                            <div class="col-sm-2 ">
                                                <label for="txt_precio" class="control-label">Prec.</label> <span class="help-block"></span>
                                                <input type="text" id="txt_precio" ng-enter="enterFocus(1,'btnGuardarDet')" ng-change="Calculo_Importe();" ng-model="objeto_parametros_detalle.precioVenta_Pedido_Det" class="form-control input-sm" style="margin-top:-12px;text-align:right">
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="txt_importe" class="control-label">Importe.</label> <span class="help-block"></span>
                                                <input type="text" id="txt_importe" disabled ng-model="objeto_parametros_detalle.total_Pedido_Det" class="form-control input-sm" style="margin-top: -12px; text-align:right">
                                            </div>
                                        </div>
                                    </div>


                                    <hr style=" margin-top: -25px; margin-bottom: 10px;" />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="data_detalle" class="table m-b-0 toggle-arrow-tiny tableEntrega tableScroll table-hover"   data-page-size="10">
                                                <thead style="height: 20px">
                                                    <tr>

                                                        <th data-toggle="true" style="width:25px;">#</th>
                                                        <th data-toggle="true" style="width:60px;">Producto</th>
                                                        <th data-hide="" style="width:300px;"> Descripción</th>
      
                                                        <th data-hide="" style="width:80px;"> UM</th>
                                                        <th data-hide="" style="width:80px;"> Lote </th>
                                                        <th data-hide="" style="width:80px;"> Cantidad</th>
                                                        <th data-hide="" style="width:80px;"> Precio</th>
                                                        <th data-hide="" style="width:80px;"> Importe</th>
                                                        <th style="width:100px;text-align:center">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in Lista_DataDetalle">
                                                        <td style="text-align:center;width:25px;">{{$index+1}}</td>
                                                        <td style="text-align:center;width:60px;">{{item.codigo1_Producto}}  </td>
                                                        <td style="text-align:center;width:300px;">{{item.nombre_Producto}}  </td>
 
                                                        <td style="text-align:center;width:80px;">{{item.nombre_UnidadMedida}}  </td>
                                                        <td style="text-align:center;width:80px;">{{item.nroLote}}  </td>
                                                        <td style="text-align:center;width:80px;">{{item.cantidad_Pedido_Det}}  </td>
                                                        <td style="text-align:center;width:80px;">{{item.precioVenta_Pedido_Det}}  </td>
                                                        <td style="text-align:center;width:80px;">{{item.total_Pedido_Det}}  </td>
                                                        <td style="text-align:center;width:100px;">
                                                            <button type="button" class="btn btn-primary btn-circle " ng-click="Buscar_Producto_Edicion(item);" data-toggle="tooltip" title="EDITAR"><i class=" ti-pencil-alt"></i></button>
                                                            <button type="button" class="btn btn-warning btn-circle" ng-click="EliminarPedido_detalle($index,item);" style="background-color: #ff6849; border-color: #ff6849;" title="ANULAR"><i class="fa fa-trash"></i> </button>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <hr />
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4  col-md-8 " style="text-align:center">
                                            @*<button id="btn_generaCancelacion" ng-click="GenerarFacturacion();" class="btn btn-danger"><span class="glyphicon glyphicon-sd-video"></span> {{tituloProceso}} </button>*@
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-4">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12">
                                                    <div class="text-right">
                                                        <label for="txt_subTotal_G" class=" col-xs-3 col-sm-3 control-label">Sub-Total</label>
                                                        <div class="col-xs-9 col-sm-9">
                                                            <input type="text" id="txt_subTotal_G" style="text-align:right" ng-model="SubTotal_G" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6" style="display:none">
                                                    <div class="form-group" style="margin-bottom: -17px;margin-top: -21px;">
                                                        <input type="checkbox" id="chk_exonerada" ng-click="change_exonerada();" />
                                                        <label for="chk_exonerada" style="font-size: 12px !important;color: red;text-decoration: underline;font-family: monospace;">Exonerada (IGV)</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12">
                                                    <div class="text-right">
                                                        <label for="txt_igv_G" class="col-xs-3 col-sm-3 control-label">I.G.V</label>
                                                        <div class="col-xs-9 col-sm-9">
                                                            <input type="text" id="txt_igv_G" style="text-align:right" ng-model="Igv_G" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12">
                                                    <div class="text-right">
                                                        <label for="txt_Total_G" class="col-xs-3 col-sm-3 control-label">Total</label>
                                                        <div class="col-xs-9 col-sm-9">
                                                            <input type="text" id="txt_Total_G" style="text-align:right" ng-model="Total_G" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <div class="row" style="display:none">
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="text-right">
                                                <label for="cbo_tipo_Factura" style="font-size: 12px !important;color: red;text-decoration: underline;font-family: monospace;">Tipo Facturacion</label>
                                                <select class="selectModal" id="cbo_tipo_Factura" ng-model="objeto_parametros.flag_tipo_facturacion" ng-change="cambiar_Facturacion(objeto_parametros.flag_tipo_facturacion);">
                                                    <option value="1"> Gravado - (Normal)</option>
                                                    <option value="2"> Exonerado - (Igv) </option>
                                                    <option value="3"> Inafecta </option>
                                                    <option value="4"> Gratuita </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />

                                </fieldset>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-1">
                        <div class="form-group" style=" margin-top: 50px;">
                            <button class="btn btn-block btn-outline btn-primary" ng-click="nuevaGuia_det()" style=" background:#008efa !important; border: 1px solid #008efa; color:#fff">
                                <i class="fa fa-plus-circle"></i>
                                Nuevo
                            </button>
                            <button class="btn btn-block btn-outline btn-primary" id="btnGuardarDet" ng-click="Guardar_Pedido_Det();" style=" background:#008efa !important; border: 1px solid #008efa; color:#fff">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                            <button class="btn btn-block btn-outline btn-primary" ng-click="nuevaGuia_det()" style=" background:#008efa !important; border: 1px solid #008efa; color:#fff">
                                <i class="fa fa-arrow-circle-left"></i>
                                Deshacer
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer " style=" background-color: #162737;">
                <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cerrar</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<div id="modalAyuda_Cliente" class="modal fade bd-example-modal-lg ModalBorderSombra" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" style=" width: 80%;">
        <div class="modal-content">
            <div class="modal-header" style=" background-color:green;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel" style="color:white !important; font-size: 15px;"> Ayuda Clientes</h4>
            </div>
            <div class="modal-body">
                <div class="loaderModal" ng-if="loader_modal_ayuda"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" id="txt_busquedaCliente" ng-enter="Ayuda_BuscarCliente();" class="form-control" style="background-color: beige" placeholder="Busqueda General">
                        <hr />
                    </div>
                </div>
                <div id="regionDetalle" style="display:none">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="white-box">
                                <table id="tbl_busquedaCliente" class="table m-b-0 toggle-arrow-tiny" data-page-size="10" style="display: table;">
                                    <thead>
                                        <tr>
                                            <th>#</th>

                                            <th>nroDoc</th>
                                            <th>Cliente</th>
                                            <th>Direccion</th>
                                            <th>Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in Lista_Busqueda_Cliente">
                                            <td>{{$index+1}}</td>
                                            @*<td>{{item.codigoInterno_Cliente}}  </td>*@
                                            <td>{{item.nroDoc_Cliente}}  </td>
                                            <td>{{item.nombres_Cliente}}  </td>
                                            <td>{{item.direccion_referencia}}  </td>
                                            <td>

                                                <button class="btn btn-xs btn-success" ng-click="Agregar_Cliente(item);" title="Agregar"><span class="glyphicon glyphicon-ok"></span> </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <ul class="pagination pagination-split m-t-30"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="modal-footer " style=" background-color: green;">
                <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cerrar</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<div id="modalAyuda_Producto" class="modal fade bd-example-modal-lg ModalBorderSombra" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" style=" width: 80%;">
        <div class="modal-content">
            <div class="modal-header" style=" background-color:green;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel" style="color:white !important; font-size: 15px;"> Ayuda Productos</h4>
            </div>
            <div class="modal-body">
                <div class="loaderModal" ng-if="loader_modal_ayuda"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" id="txt_busquedaProducto" ng-enter="Ayuda_BuscarProducto();" class="form-control" style="background-color: beige" placeholder="Busqueda General">
                        <hr />
                    </div>
                </div>
                <div id="regionDetalle_Producto" style="display:none">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="white-box">
                                <table id="tbl_busquedaProducto" class="table m-b-0 toggle-arrow-tiny" data-page-size="10" style="display: table;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                            <th>Marca</th>
                                            <th>Unidad</th>
                                            <th>Precio</th>
                                            <th>Lote</th>
                                            <th>Stock</th>
                                            <th>Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in Lista_Busqueda_Producto">
                                            <td>{{$index+1}}</td>
                                            <td>{{item.codigoInterno}}  </td>
                                            <td>{{item.descripcion_producto}}  </td>
                                            <td>{{item.nombre_marcaproducto}}  </td>
                                            <td>{{item.unidadMedida}}  </td>
                                            <td>{{item.precioventa_listaprecios}}  </td>
                                            <td>
                                                {{item.nroLote}}
                                            </td>
                                            <td>{{item.Stock}}  </td>
 
                                            <td>
                                               
                                                <button class="btn btn-xs btn-success" ng-click="Agregar_Producto(item);" title="Agregar"><span class="glyphicon glyphicon-ok"></span> </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-right">
                                    <ul class="pagination pagination-split m-t-30"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="modal-footer " style=" background-color: green;">
                <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cerrar</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



