




<style>
    .panel-body {
        padding: 5px !important;
    }

    .control-label {
        font-size: 11px !important;
        color: #2b89e0;
        font-family: Tahoma;
    }

    .form-control {
        font-size: 11px;
        height: 30px;
    }

    .contentCombo .select2-container {
        margin-left: 0px;
        margin-top: -10px;
        width: 98% !important;
    }

    .ModalBorderSombra .modal-content {
        box-shadow: inset 0px 0px 7px rgba(0,0,0,.5), 1px 1px 5px #fff;
    }

    .contenedorGrupo legend {
        font-size: 12px !important;
        font-family: GillSans, Calibri, Trebuchet, sans-serif;
        color: #2c5ca9;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .contenedorGrupo fieldset {
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #2c4d6d;
        padding-bottom: 10px;
        border-radius: 4px;
    }

    .ContentFilters .select2-container .select2-choice, label {
        font-size: 11px;
    }

    .input-group-btn .btn {
        padding: 8px 12px;
        height: 30px;
    }

    .jq-toast-wrap.top-right {
        top: 20px;
        right: 40px;
        width: 300px;
    }

    .pagination > li > a, .pagination > li > span {
        padding: 1px !important;
        color: #337ab7 !important;
    }


    .btn span.glyphicon {
        opacity: 0;
    }

    .btn.active span.glyphicon {
        opacity: 1;
    }

    #s2id_cbo_tipo_Factura {
        width: 25% !important;
        margin-bottom: -7px;
    }

    #map {
        height: 600px;
    }
    /*.table tbody tr.selected td {
        background: aquamarine !important;
    }*/


    /*table {
        overflow: hidden;
    }

    tr:hover {
        background-color: #ffa;
    }

    td, th {
        position: relative;
    }

    td:hover::after,
    th:hover::after {
        content: "";
        position: absolute;
        background-color: #ffa;
        left: 0;
        top: -5000px;
        height: 10000px;
        width: 100%;
        z-index: -1;
    }*/

    .checkbox label {
        font-size: 13px !important;
        color: cornflowerblue;
    }

    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .jumbotron p {
        margin-bottom: 15px;
        font-size: 12px;
        font-weight: 200;
    }
</style>



<div ng-init="initAll(); ">

    <br />
    <br />
    <section id="ubicacion">
        <div class="panel-body ContentFilters contentCombo">

            <div class="container card" style="background-color: #2b4c6c;padding-bottom: 0px; padding-top: 0px;color: #fff;">
                <br />
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 ">
                        <label for="cbo_local">Local</label> <span class="help-block"></span>
                        <select class="selectFiltros" id="cbo_local" ng-model="Objeto_ParametroFiltro.id_local" ng-change="change_Local_Almacen(Objeto_ParametroFiltro.id_local);">
                            <option value="0">[ ----  SELECCIONE  --- ]</option>
                            <option ng-repeat="item in Lista_Local" value="{{item.id_Local}}">{{item.nombre_Local}}</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 ">
                        <label for="cbo_almacen">Almacen</label> <span class="help-block"></span>
                        <select class="selectFiltros" id="cbo_almacen" ng-model="Objeto_ParametroFiltro.id_almacen">
                            <option value="0">[ ----  SELECCIONE  --- ]</option>
                            <option ng-repeat="item in Lista_Almacen" value="{{item.id_Almacen}}">{{item.descripcion_Almacen}}</option>
                        </select>
                    </div>
                </div>
                <a id="id_link" href="" download style="display:none">link</a>

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 ">
                        <label for="cbo_vendedor_filtro">Vendedor</label> <span class="help-block"></span>
                        <select class="selectFiltros" id="cbo_vendedor_filtro" ng-model="Objeto_ParametroFiltro.id_Vendedor">
                            <option value="0">[ ----  TODOS  --- ]</option>
                            <option ng-repeat="item in Lista_Vendedor" value="{{item.id_personal}}">{{item.apellidos_personal}}  {{item.nombres_personal}} </option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 ">
                        <label for="cbo_vendedor_filtro">Fecha</label> 
                        <br />
                        <div class="form-group col-xs-6 col-sm-6 col-md-6">
                            <input type="text" class="form-control datepicker" ng-model="Objeto_ParametroFiltro.fecha_ini" id="dtp_fechaIni_filtro" placeholder="Fecha - mm/dd/yyyy">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12" style="text-align:center"> 
                       <button class="btn btn-success" ng-click="descargarReporteCobertura()"><span class="glyphicon glyphicon-download-alt"></span> Descargar</button> 
                    </div>
                </div>
                <br />
            </div>

        </div>
    </section>

    <section id="cabeceras" style="margin-bottom: -30px;">
        <div class="panel-body ContentFilters contentCombo">
            <div class="form-inline ">
                <div class="row">
                    <div class="col-sm-12">
                        <div style="text-align:center">
                            <div class="cssload-speeding-wheel" ng-if="loaderfiltros"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="padding-left: 45%;" ng-if="showLoaderSave">
        <p class="loader">
        </p>
    </div>

</div>

