
<style>
    #listMenu span, a {
        text-align: left !important;
    }

    .contentRegistro fieldset legend {
        text-align: left !important;
    }

    .jq-toast-wrap {
        width: 300px !important;
    }

    .floating-labels label {
        top: -6px;
    }

    .contentRegistro .select2-container {
        margin-left: 0px;
        margin-top: 2px;
    }

    #paddin-lef {
        padding-left: 60px !important;
    }
    
     #btn-material{
    font-size: 1.2rem;outline: 0;border: none;border-radius: 2px;display: inline-block;height: 36px;line-height: 36px;padding: 0 2rem;text-transform: uppercase;vertical-align: middle;-webkit-tap-highlight-color: transparent;text-decoration: none;color: #fff;background-color: #2b4c6c;text-align: center;letter-spacing: .5px;-webkit-transition: .2s ease-out;transition: .2s ease-out;cursor: pointer;-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    }
    #btn-save{
    font-size: 1.2rem;outline: 0;border: none;border-radius: 2px; border: 1px solid #2c5ca9;display: inline-block;height: 36px;line-height: 36px;padding: 0 2rem;text-transform: uppercase;vertical-align: middle;-webkit-tap-highlight-color: transparent;text-decoration: none;color: #fff;background: #2c5ca9;text-align: center;letter-spacing: .5px;-webkit-transition: .2s ease-out;transition: .2s ease-out;cursor: pointer;-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    }
    #btn-close{
    font-size: 1.2rem;outline: 0;border: none;border-radius: 2px;background: #f75b36;border: 1px solid #f75b36;display: inline-block;height: 36px;line-height: 36px;padding: 0 2rem;text-transform: uppercase;vertical-align: middle;-webkit-tap-highlight-color: transparent;text-decoration: none;color: #fff;text-align: center;letter-spacing: .5px;-webkit-transition: .2s ease-out;transition: .2s ease-out;cursor: pointer;-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    }
</style>

<div ng-init="initAll();" class="">
    <div class="cssload-speeding-wheel" ng-if="loaderPage"></div>

    <div class="contentRegistro  contentOrdenCompra floating-labels form-inline {{disabledContent}}" ng-show="!loaderPage">
        <div class="LoaderCab" ng-if="loaderCab"></div>
        <div class="LoaderDet" ng-if="loaderDet"></div>


        <div class="row" style="padding-left:25%">
            <div class="col-lg-8">
                <fieldset>
                    <legend>SELECCION DE TABLA</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="cbo_grupoCab" style="top:-5px !important; color: #f71333; font-weight: 600; letter-spacing: 1px;">SELECCION DE TIPO DE DATOS</label> <span class="help-block"></span>
                            <select class="select_modal" id="cbo_grupoCab" style="width:120%;" data-style="btn-default" ng-model="objeto_parametros.id_grupoTabla" ng-change="changeSelect('GrupoTabla_Cab',objeto_parametros.id_grupoTabla);">
                                <option value="0">[ ----   Seleccione  --- ]</option>
                                <option ng-repeat="item in Lista_GrupoCab" value="{{item.id_grupoTabla}}">{{item.descripcion_grupoTabla}}</option>
                            </select>
                        </div>

                        <div class="col-lg-1"> </div>
                        <div class="col-sm-6" style="margin-top: -35px;margin-left: 50%;">
                            <label class="form-inline contentRegTable"></label>
                            <button id="btn-material" class="btn btn-outline btn-primary btn-sm" ng-click="Open_New_Modal();">
                                <i class="glyphicon glyphicon-plus"></i>Agregar Nuevo
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <br />

        <!--  DETALLE DE LA GUIA -->
        <div class="row " style="padding-bottom:10px;padding-left:16%">
            <div class="col-lg-10 {{disabledDet}}">
                <fieldset>

                    <legend style="background: #009DC3;color: #fff;font-family: serif;">LISTADO DE TIPO DE TABLAS</legend>

                    <div class="myadmin-alert errorContent myadmin-alert-icon myadmin-alert-click alert-danger myadmin-alert-bottom alerttop2 " id="errorDet">
                        <h4>Ocurrio un error !</h4>
                        <i class="ti-alert"></i>{{textError}}
                        <a href="#" class="closed">&times;</a>
                    </div>
                    <div class="row ContentFilters">
                        <div class="col-lg-12">
                            <div class="white-box" style="border-left: 20px solid #2b4c6c;">
                                <table id="tbl_GrupoTablaCab" class="table m-b-0 toggle-arrow-tiny" data-page-size="7">
                                    <thead>
                                        <tr>
                                            <th data-toggle="true">#</th>
                                            <th data-hide="" id="paddin-lef"> CODIGO</th>
                                            <th data-hide="" id="paddin-lef"> DESCRIPCION DE TABLA</th>
                                            <th data-hide="" > ESTADO</th>
                                            <th id="paddin-lef">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in tbl_GrupoTablaCab">

                                            <td >{{$index + 1}}</td>
                                            <td id="paddin-lef">{{item.codigo_detalleTabla}}</td>
                                            <td id="paddin-lef">{{item.descripcion_grupoTabla}}</td>
                                            <td id="paddin-lef" class="classestado{{item.estado}}" style="{{item.estado == 0 | iif : 'background-color: #f1a0a0 !important;color:#3b443b' : 'background-color:#80f093 !important;color:#3b443b'}}">{{item.estado == 0 | iif : "Anulado" : "Activado"}}</td>
                                            <td id="paddin-lef">
                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline " ng-click="Open_Update_Modal(item);"><i class=" ti-pencil-alt"></i></button>
                                                <button type="button" class="btn btn-warning btn-circle" ng-click="getAnular(item);" style="background-color: #ff6849; border-color: #ff6849;"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-right" >
                                    <ul class="pagination pagination-split m-t-30"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    </fieldset>
              </div>
        </div>
    </div>
</div>

<div id="ModalGrupoTable" class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background:#0f66bb;  padding: 15px; border-bottom: 2px solid #ef0752; color:#ffffff">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel" style="color: #fcfdff !important;">{{titleModal}}</h4>
            </div>
            <div class="modal-body">

                <div class="loaderModal" ng-if="loaderSave"></div>

                <div class="contentRegistro floating-labels form-inline">
                    <fieldset>
                        <legend>INGRESO DE DATOS GRUPO TABLA_DET</legend>
                        <div class="row">
                                <div class="col-md-12">
                                    <label for="cbo_grupoCab" style="top:-5px !important; color: #f71333; font-weight: 600; letter-spacing: 1px;">SELECCION DE TIPO DE DATOS</label> <span class="help-block"></span>
                                    <select class="select_modal" id="cbo_grupoCabModal" style="width:120%;" data-style="btn-default" ng-model="objeto_parametros.id_grupoTabla" >
                                        <option value="0">[ ----   Seleccione  --- ]</option>
                                        <option ng-repeat="item in Lista_datCabModal" value="{{item.id_grupoTabla}}">{{item.descripcion_grupoTabla}}</option>
                                    </select>
                                </div>
                            </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="txtdesc_tab" ng-model="objeto_parametros.codigo_detalleTabla" maxlength="10" ng-keypress="ValidationNumber($event);"><span class="highlight"></span> <span class="bar"></span>
                                <label for="txtdesc_tab">CODIGO DE GRUPO TABLA </label> <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="txtcod_tab" ng-model="objeto_parametros.descripcion_grupoTabla" maxlength="30"><span class="highlight"></span> <span class="bar"></span>
                                <label for="txtcod_tab">DESCRIPCION DE GRUPO TABLA </label> <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6">
                                <fieldset>
                                    <legend style="top: -5px !important;color: #f71333;font-weight: 600;letter-spacing: 1px;">Estado</legend>
                                    <div class="row " style=" margin-top: -10px;">
                                        <div class="col-sm-6 ">
                                            <div class="form-group">
                                                <div class="checkbox checkbox-success">
                                                    <input id="checkbox1" type="checkbox" ng-model="objEstados.activo" ng-change="changeStatus(objEstados.activo);">
                                                    <label for="checkbox1" class="estadoModal" style="color : {{objEstados.colorText}}">{{objEstados.text}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>
            <div class="modal-footer ">
                <a class="btn btn-primary" ng-click="GuardarRegistro();" id="btn-save"> <span class="glyphicon glyphicon-floppy-disk"></span> Guardar</a>
                <a class="btn btn-danger" data-dismiss="modal" id="btn-close"><span class="glyphicon glyphicon-remove-sign"></span> Cerrar</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>