
<style>
    .ContentFilters .table {
        display: table;
    }

    .buttonSearch2 {
        background-color: red;
        color: white;
        border-radius: 3px;
        margin-top: 4px;
        pointer-events: all;
        cursor: pointer;
    }

    .contentRegistro #s2id_cbo_unidadModal.select2-container {
        margin-top: 7px;
    }

    @@media (min-width: 1200px) {
        .contentRegistro #s2id_cbo_unidadModal.select2-container {
            width: 220px !important;
        }
    }
    @@media (min-width: 992px) {
        .contentRegistro #s2id_cbo_unidadModal.select2-container {
            width: 150px !important;
        }
    }

    .flex-Container {
        display:flex;
        flex-direction:column
    }

</style>

<script type="text/javascript">

    function filterFloat(evt, input) {
        // Backspace = 8, Enter = 13, ‘0′ = 48, ‘9′ = 57, ‘.’ = 46, ‘-’ = 43
        var key = window.Event ? evt.which : evt.keyCode;
        var chark = String.fromCharCode(key);
        var tempValue = input.value + chark;
        if (key >= 48 && key <= 57) {
            if (filter(tempValue) === false) {
                return false;
            } else {
                return true;
            }
        } else {
            if (key == 8 || key == 13 || key == 0) {
                return true;
            } else if (key == 46) {
                if (filter(tempValue) === false) {
                    return false;
                } else {
                    return true;
                }
            } else {
                return false;
            }
        }
    }
    function filter(__val__) {
        var preg = /^([0-9]+\.?[0-9]{0,3})$/;
        if (preg.test(__val__) === true) {
            return true;
        } else {
            return false;
        }

    }

</script>




<div ng-init="initAll();" class="">
    <div class="cssload-speeding-wheel" ng-if="loaderPage"></div>

    <div class="contentRegistro  contentOrdenCompra  form-inline {{disabledContent}}" ng-show="!loaderPage">
        <div class="LoaderCab" ng-if="loaderCab"></div>
        <div class="LoaderDet" ng-if="loaderDet"></div>
        <div class="row">
            <div class="col-lg-11 {{disabledCab}}">
                <!-- PRIMERA LINEA-->
                <div class="row">
                    <div class="row {{disabledGuia}}" style="margin-bottom:10px;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-md-12">Local</label>
                                <div class="col-md-12" style=" margin-top: -23px;">
                                    <select class="filterLocales" id="selectLocales" ng-model="objSaveGuias.id_Local" data-width="35%" ng-change="changeSelect('locales',objSaveGuias.id_Local)" data-style=" btn-default">
                                        <option value="0">- Seleccionar - </option>
                                        <option ng-repeat="item in listLocales" value="{{item.id_Local}}">{{item.nombre_Local}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-md-12">Almacen </label>
                                <div class="col-md-12" style=" margin-top: -23px;">
                                    <select class="filterAlmacen" id="selectAlmacen" data-width="35%" ng-model="objSaveGuias.id_Almacen" data-style="btn-default">
                                        <option value="0">- Seleccionar - </option>
                                        <option ng-repeat="item in listAlmacenes" value="{{item.id_Almacen}}">{{item.descripcion_Almacen}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <fieldset>
                            <legend>Datos de Guia de Remisión de Entrada</legend>
                            <div class="row Mtop-20 ">

                                <div class="form-group col-sm-4">
                                    <div style="margin-left: -30px;">
                                        <label class="col-md-12">Tipo de Doc. </label>
                                        <div class="col-md-12" style=" margin-top: -23px;">
                                            <select class="selectModal" data-style="btn-default" ng-model="objSaveGuias.id_tipo_documento" id="selectTipoDoc" ng-change="changeTipoDocumento(objSaveGuias.id_tipo_documento);enterFocus(1,'txtNroDocumento')" style=" width 90% !important;">
                                                <option value="0">- Seleccionar - </option>
                                                <option ng-repeat="item in listTipoDocumentos" value="{{item.id_TipoDocumento}}">{{item.Descripcion_TipoDocumento}}</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>

                                @*<div class="form-group col-sm-4 Mtop15  {{disabledProveedor}}">*@
                                <div class="form-group col-sm-4 Mtop15  ">
                                    <div style="margin-left:16px;" >
                                        <input type="text"  style=" width: 85% !important;" class="form-control" autocomplete="off" numbers-onlydd id="txtNroDocumento" ng-keyup="presNroDocumento(objSaveGuias.id_tipo_documento);" ng-enter="validarGuiasOrdenCompra();" required ng-model="objSaveGuias.nro_documento" placeholder="Nro de Documento"><span class="highlight"></span> <span class="bar"></span>
                                        <div class="cssload-speeding-wheel loaderEnter" ng-if="loaderValidacion"></div>
                                    </div>
                                </div>
                                <div class="input-group col-sm-4" style="margin-top:15px;">
                                    <input type="text" class="form-control datepicker" ng-model="objSaveGuias.fecha_emision_aux" autocomplete="off" ng-enter="enterFocus(1,'txtNroGuiaRemi');" id="txtFechaRemision" placeholder="Fecha Emisión- mm/dd/yyyy">
                                    <span class="input-group-addon" style=" width: 20px;"><i class="icon-calender"></i></span>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 5px" ng-if="tipoMovimiento_Global == 1">
                                <div class="form-group col-sm-6 {{disabledGuiaAux}}">
                                    <input type="text" class="form-control" ng-enter="enterFocus(1,'txtFechaGuia');" numbers-onlyg ng-model="objSaveGuias.nro_guia_remision" maxlength="12" id="txtNroGuiaRemi" placeholder="Nro de Guia de Remisión" required><span class="highlight"></span> <span class="bar"></span>
                                </div>
                                <div class="input-group col-sm-6">
                                    <input type="text" class="form-control datepicker" ng-model="objSaveGuias.fecha_guia_aux" ng-enter="enterFocus(1,'txtOrdenCompra');" id="txtFechaGuia" placeholder="Fecha Guía- mm/dd/yyyy">
                                    <span class="input-group-addon" style=" width: 20px;"><i class="icon-calender"></i></span>
                                </div>

                            </div>

                            <div class="row" style="margin-top: 5px" ng-if="tipoMovimiento_Global == 1">
                                <div class="form-group col-sm-6 {{disabledGuia}}">
                                    <input type="text" class="form-control" numbers-onlyg ng-model="objSaveGuias.nro_orden_compra" ng-enter="enterFocus(1,'txtFechaEmisionOC');" maxlength="12" id="txtOrdenCompra" required placeholder="Nro de Orden de Compra"><span class="highlight"></span> <span class="bar"></span>
                                </div>
                                <div class="input-group col-sm-6">
                                    <input type="text" class="form-control datepicker" ng-model="objSaveGuias.fecha_emision_oc_aux" ng-enter="enterFocus(1,'txtProveedor');" id="txtFechaEmisionOC" placeholder="Fecha Emisión OC- mm/dd/yyyy">
                                    <span class="input-group-addon" style=" width: 20px;"><i class="icon-calender"></i></span>
                                </div>

                            </div>


                            <!-- SUB FIELD-->
                            <fieldset class="subFieldSet disabledContent" ng-show="ok">
                                <legend>Ingreso por Oden de Compra</legend>
                                <div class="row  Mtop-15">
                                    <div class="form-group col-sm-6 ">
                                        <input type="text" class="form-control" id="txtOrdCompra" required><span class="highlight"></span> <span class="bar"></span>
                                        <label for="txtOrdCompra">Ord. Compra</label> <span class="help-block"></span>
                                    </div>
                                    <div class="input-group col-sm-6">
                                        <input type="text" class="form-control datepicker" id="txtFechaEmisión" placeholder="Fecha Emisión- mm/dd/yyyy">
                                        <span class="input-group-addon"><i class="icon-calender"></i></span>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- FIN DE SUB FIELD-->
                        </fieldset>
                    </div>
                    <div class="col-lg-6">
                        <fieldset>
                            <legend>Datos Adicionales</legend>
                            <div class="row   {{disabledProveedor}}">
                                <div class="form-group col-sm-6">
                                    <input type="text" numbers-only ng-enter="getProveedorByDoc();" class="form-control" id="txtProveedor" ng-model="objSaveGuias.nroDocumento_Proveedor" placeholder="Nro Doc Proveedor" required><span class="highlight"></span> <span class="bar"></span>
                                    <span class="glyphicon glyphicon-search form-control-feedback t-0 buttonSearch" ng-click="ModalSearch(1);"></span>
                                    <div class="cssload-speeding-wheel loaderEnter" ng-if="loaderProveedor"></div>
                                </div>
                                <div class="form-group has-warning col-sm-6 disabledContent">
                                    <input type="text" class="form-control" id="txtRazonSocial" ng-model="objSaveGuias.razonSocial_Proveedor" placeholder="Razon Social"><span class="highlight"></span> <span class="bar"></span>
                                </div>
                            </div>
                            <div class="row Mtop-30 " ng-if="tipoMovimiento_Global == 1">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">Moneda </label>
                                        <div class="col-md-12" style=" margin-top: -23px;">
                                            <select class="selectModal"  data-width="35%" data-style="btn-default" ng-change="changeMoneda();" ng-model="objSaveGuias.id_Moneda" id="selectMoneda">
                                                <option value="0">- Seleccionar - </option>
                                                <option ng-repeat="item in listMonedas" value="{{item.id_Moneda}}">{{item.nombre_mone}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 Mtop15">
                                    <input type="text" class="form-control" onkeypress="return filterFloat(event,this);"  id="txtTipCambio" ng-enter="enterFocus(1,'txtObs')" required ng-model="objSaveGuias.tipoCambio_GuiaCab" placeholder="Tipo de Cambio"><span class="highlight"></span> <span class="bar"></span>
                                </div>
                            </div>
                            <div class="row Mtop5" ng-if="tipoMovimiento_Global == 1">
                                <div class="form-group col-sm-12">
                                    <input type="text" class="form-control" id="txtObs" placeholder="Observación" ng-enter="enterFocus(1,'btnGuardarCab')" required ng-model="objSaveGuias.obs_GuiaCab"><span class="highlight"></span> <span class="bar"></span>

                                </div>
                            </div>
                            <div class="myadmin-alert errorContent myadmin-alert-icon myadmin-alert-click alert-danger myadmin-alert-bottom alerttop2 " id="errorCab2">
                                <h4>Ocurrio un error !</h4>
                                <i class="ti-alert"></i>{{textErrorCab}}
                                <a href="#" class="closed">&times;</a>
                            </div>
                        </fieldset>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="myadmin-alert errorContent myadmin-alert-icon myadmin-alert-click alert-danger myadmin-alert-bottom alerttop2 " id="errorCab">
                                <h4>Ocurrio un error !</h4>
                                <i class="ti-alert"></i>{{textErrorCab}}
                                <a href="#" class="closed">&times;</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-lg-1">
                <div class="row  ">

                    <div class="col-lg-12" style="margin-top:10px;">
            <button class="btn btn-block btn-outline btn-primary" ng-click="cerrarGuia();" ng-disabled="guiaCerrada" style=" background:#008efa !important; border: 1px solid #008efa; color:#fff">
                <i class="fa fa-close"></i>
                Cerrar
                <br />
                {{titleButton}}
            </button>
        </div>
        <div class="col-lg-12" style="margin-top:10px;">
            <button class="btn btn-block btn-outline btn-primary" ng-click="nuevaGuia()" style=" background:#008efa !important; border: 1px solid #008efa; color:#fff">
                <i class="fa fa-plus-circle"></i>
                Nuevo
            </button>
        </div>
        <div class="col-lg-12 {{disabledCab}}" style="margin-top:10px;">
            <button class="btn btn-block btn-outline btn-primary" id="btnGuardarCab" ng-click="saveTblAlmGuiaCab();" style=" background:#008efa !important; border: 1px solid #008efa; color:#fff">
                <i class="fa fa-save"></i>
                Guardar
            </button>
        </div>
        <div class="col-lg-12 " style="margin-top:10px;">
            <button class="btn btn-block btn-outline btn-primary" id="btnGuardarCab" ng-click="volverGuia();" style=" background:#008efa !important; border: 1px solid #008efa; color:#fff">
                <i class="fa fa-arrow-circle-left"></i>
                Regresar
            </button>
        </div>

                </div>
            </div>
        </div>
        <br />

        <!--  DETALLE DE LA GUIA -->
        @*<div class="row {{disabledDet}}" style="padding-bottom:10px;">*@
        <div class="row " style="padding-bottom:10px;">
            <div class="col-lg-11 {{disabledDet}}">
                <fieldset>

                    <div class="row Mtop10 {{disabledProducto}}">
                        <div class="form-group col-sm-2">
                            <input type="text" class="form-control" ng-enter="getProductoByFilter();" ng-model="objSaveGuiasDet.codigo1_Producto" id="txtMatricula" required placeholder="Producto . ."><span class="highlight"></span> <span class="bar"></span>
                            <span class="glyphicon glyphicon-search form-control-feedback t-0 buttonSearch" ng-click="ModalSearch(2);"></span>
                            <div class="cssload-speeding-wheel loaderEnter" ng-if="loaderProducto"></div>
                        </div>
                        <div class="form-group has-warning col-sm-5 disabledContent">
                            <input type="text" class="form-control fondoInput" placeholder="Descripción de la Abreviatura" ng-model="objSaveGuiasDet.nombre_Producto" id="txtDesMatricula" required><span class="highlight"></span> <span class="bar"></span>

                        </div>
                        <div class="form-group col-sm-2  "> 
                            <select class="filterLocales" id="cbo_unidadModal" ng-model="objSaveGuiasDet.id_UnidadMedida_Ingreso" ng-change="change_unidadStock();">
                                <option value="0">- ELIJA - </option>
                                <option ng-repeat="item in ListaUnidadMedidaModal" value="{{item.id_unidadMedida}}">{{item.nombre_UnidadMedida}}</option>
                            </select>

                        </div>
                        <div class="form-group col-sm-1">
                            <input placeholder="Cantidad" type="text" class="form-control" ng-change="calculoImporteGuiaDet();" numbers-onlyd ng-enter="enterFocus(1,'txtPrecio')" ng-model="objSaveGuiasDet.cantidad_GuiaDet" id="txtCantidad" required><span class="highlight"></span> <span class="bar"></span>

                        </div>
                        <div class="form-group col-sm-1">
                            <input placeholder="Precio" type="text" class="form-control" ng-change="calculoImporteGuiaDet();" ng-enter="enterFocusII('btnGuardarDet')" ng-model="objSaveGuiasDet.precioCosto_GuiaDet" id="txtPrecio" required><span class="highlight"></span> <span class="bar"></span>

                        </div>
                        <div class="form-group col-sm-1 disabledContent">
                            <input placeholder="Importe" type="text" class="form-control" ng-model="objSaveGuiasDet.importe_GuiaDet" id="txtImporte" required><span class="highlight"></span> <span class="bar"></span>

                        </div>
                    </div>


                    <div class="row Mtop10 " style="  border: red solid 1px; padding: 4px;" ng-if="flagLote_Global">
                        <div class="form-group col-sm-3">
                            <input placeholder="lote" type="text" class="form-control" title="Lote" ng-enter="enterFocus(1,'dtpFechaProduccion')" ng-model="objSaveGuiasDet.nroLote" id="txtidLote" required><span class="highlight"></span> <span class="bar"></span>
                        </div>
                        <div class="input-group  col-sm-3">
                            <input type="text" class="form-control datepicker" id="dtpFechaProduccion" ng-enter="enterFocus(1,'dtpFechaVencimiento')" title="Fecha Producción" ng-model="objSaveGuiasDet.fechaProduccion" placeholder="Fecha Producción - mm/dd/yyyy">                           
                            <span class="input-group-addon"><i class="icon-calender"></i></span>
                        </div>
                        <div class="input-group  col-sm-3">
                            <input type="text" class="form-control datepicker" id="dtpFechaVencimiento" ng-enter="enterFocus(1,'btnGuardarDet')" title="Fecha Vencimiento" ng-model="objSaveGuiasDet.fechaVencimiento" placeholder="Fecha Vencimiento - mm/dd/yyyy">
                            <span class="input-group-addon"><i class="icon-calender"></i></span>
                        </div>
                    </div>

                    <hr />

                    <div class="myadmin-alert errorContent myadmin-alert-icon myadmin-alert-click alert-danger myadmin-alert-bottom alerttop2 " id="errorDet">
                        <h4>Ocurrio un error !</h4>
                        <i class="ti-alert"></i>{{textError}}
                        <a href="#" class="closed">&times;</a>
                    </div>

                    <div class="row ContentFilters">
                        <div class="col-lg-12">
                            <div class="white-box">
                                <table id="tblProductos" class="table m-b-0 toggle-arrow-tiny table-bordered tableRecepcion">
                                    <thead>
                                        <tr>
                                            <th data-toggle="true">#</th>
                                            <th data-toggle="true">Id</th>
                                            <th data-toggle="true">Codigo Interno</th>
                                            <th data-hide=""> Descripción Matricula</th>

                                            <th data-hide=""> UM</th>
                                            <th data-hide=""> Nro Lote</th>

                                            <th data-hide="" style="width:140px;"> F.Produccion</th>
                                            <th data-hide="" style="width:140px;"> F.Vencimiento</th>

                                            <th data-hide=""> Cantidad</th>
                                            <th data-hide=""> Precio</th>
                                            <th data-hide=""> Importe</th>
                                            <th>Acciones</th>
                                            <th>Modificar-Precio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in listProductosDet">
                                            <td>{{$index + 1}}</td>
                                            <td>{{item.id_Producto}}</td>
                                            <td>{{item.codigo1_Producto}}</td>
                                            <td>{{item.nombre_Producto}}</td>

                                            <td>{{item.nombre_UnidadMedidaI}}</td>
                                            <td>{{item.nroLote}}</td>
                                            <td style="width:120px;text-align:center">{{item.fechaProduccion |  date:'dd/MM/yyyy' }}</td>
                                            <td style="width:120px;text-align:center">{{item.fechaVencimiento |  date:'dd/MM/yyyy' }}</td>

                                            <td>{{item.cantidad_GuiaDet}}</td>
                                            <td>{{item.precioCosto_GuiaDet}}</td>
                                            <td>{{item.importe_GuiaDet}}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-circle  {{disabledCab}}" ng-click="editarProducto(item);" data-toggle="tooltip" title="EDITAR"><i class=" ti-pencil-alt"></i></button>
                                                <button type="button" class="btn btn-warning btn-circle  {{disabledCab}}" ng-click="eliminarProducto(item);" style="background-color: #ff6849; border-color: #ff6849;" title="ANULAR"><i class="fa fa-trash"></i> </button>
                                            </td>
                                            <td style="text-align:center">
                                                <span class="glyphicon glyphicon-euro t-0 buttonSearch2" ng-click="abrir_modalPrecio(item);"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>

            <div class="col-lg-1">
                <div class="row">
                    <div class="col-lg-12 {{disabledCab}}" style="margin-top:20px; ">
                        <button class="btn btn-block btn-outline btn-primary" ng-click="limpiandoDetalle()" style="background: #00c292 !important; border: 1px solid #00c292; color:#fff">
                            <i class="fa fa-plus-circle"></i>
                            Nuevo
                        </button>
                    </div>
                    <div class="col-lg-12 {{disabledCab}}" style="margin-top:20px;  ">
                        <button class="btn btn-block btn-outline btn-primary" id="btnGuardarDet" ng-click="saveTblAlmGuiaDet();" style="background: #00c292 !important; border: 1px solid #00c292; color:#fff">
                            <i class="fa fa-save"></i>
                            {{textSaveDet}}
                        </button>
                    </div>
                    <div class="col-lg-12 {{disabledCab}}" style="margin-top:20px; ">
                        <button class="btn btn-block btn-outline btn-primary" style="background: #00c292 !important; border: 1px solid #00c292; color:#fff">
                            <i class="fa fa-arrow-circle-left"></i>
                            Deshacer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  MODALES -->
    <!-- MODAL AGREGAR PRODUCTOS-->
    <div class="modal fade bs-example-modal-lg" id="ModalSearch" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myLargeModalLabel">{{titleModal}}</h4>
                </div>
                <div class="modal-body">
                    <div class="cssload-speeding-wheel" ng-if="loaderModal"></div>
                    <div ng-show="!loaderModal">
                        <div class="row">
                            <form class="floating-labels ">

                                <div class="form-group m-b-40 ">
                                    <input type="text" class="form-control" id="inputSearch" style="background-color: beige;font-size:11px;" required><span class="highlight"></span> <span class="bar"></span>
                                    <label for="txtSearch">Busqueda General</label>
                                    <small>Busqueda por cualquier columna</small>
                                    <span class="glyphicon glyphicon-search form-control-feedback t-0"></span>
                                </div>

                            </form>
                        </div>
                        <div class="row  Mtop-45 ">
                            <div class="col-lg-12">
                                <div class="white-box ContentFilters ">
                                    <table id="tblFiltro" class="table m-b-0 toggle-arrow-tiny table-bordered table-hover" data-page-size="5"  ng-if="listBusqueda.length > 0" >
                                        <thead>
                                            <tr>
                                                <th data-toggle="true">#</th>
                                                <th data-toggle="true" style="width:80px;text-align:center;">Codigo</th>
                                                <th data-hide="" style="width:400px;"> Descripción2</th>
                                                <th ng-if="titleModal == 'BUSQUEDA DE PRODUCTOS'"> Marca</th>
                                                <th style="text-align:center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in listBusqueda">
                                                <td>{{$index + 1}}</td>
                                                <td>{{item.codigo}}</td>
                                                <td>{{item.descripcion}}</td>
                                                <td ng-if="titleModal == 'BUSQUEDA DE PRODUCTOS'">{{item.marca}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline " ng-click="selectId(item,1);"><i class=" ti-arrow-right"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <ul class="pagination pagination-split m-t-30"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-default " data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal fade" id="modal_precio" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <p style=" text-align: center;font-family: tahoma;font-size: 15px;color: red;">Modificacion de Precio</p>
                    <hr />
                    <div class="row">
                        <div class="col-xs-6 col-sm-6  col-md-8">
                            <input type="text" class="form-control" id="txt_precioEdit" style="margin-top: -1px; text-align:right;    background-color: beige" placeholder="Precio del producto">
                        </div>
                        <div class="col-xs-6  col-sm-6 col-md-4">
                            <button class="btn btn-primary" ng-click="Actualizar_Precio();"><span class="glyphicon glyphicon-floppy-saved"></span> Grabar</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>