
<style>
    table {
        display: block;
        overflow: scroll;
    }

    #listMenu span, a {
        text-align: left !important;
    }

    .contentRegistro fieldset legend {
        text-align: left !important;
    }

    .jq-toast-wrap {
        width: 300px !important;
    }

    .floating-labels label {
        top: -6px;
    }

    .contentRegistro .select2-container {
        margin-left: 0px;
        margin-top: 2px;
    }

    #paddin-lef {
        padding-left: 40px !important;
    }

    .contentCombo .select2-container {
        margin-left: 0px;
        margin-top: 0px;
        width: 95% !important;
    }

    .ContentFilters .table {
        display: table;
    }

    .contentRegistro label {
        font-size: 11px;
        font-family: tahoma;
        color: #2c5ca9;
        font-weight: 600;
    }

    .contentRegistro {
        margin: 0 auto;
        width: 100%;
    }

    .ModalBorderSombra .modal-content {
        box-shadow: inset 0px 0px 7px rgba(0,0,0,.5), 1px 1px 5px #fff;
    }



    .resaltado {
        color: #ff94a7 !important;
    }

    .text-right {
        margin-top: 0px;
        margin-bottom: 0px;
    }
</style>


<div class=" container-fluid" ng-init="initAll();">
    <div class="panel-body ContentFilters contentCombo" style=" margin-bottom: -35px;">
        <div class="well" style="background-color: #2b4c6c;padding-bottom: 0px; padding-top: 0px;color: #fff;    width: 100%;">
            <div class="row">
                <div class="col-md-4">
                    <label for="filtro_zona_venta">Zona de ventas</label> <span class="help-block"></span>
                    <select class="select_modal" id="filtro_zona_venta" data-style="btn-default" ng-model="Objeto_ParametroFiltro.id_zona">
                        <option value="0">[ ----   TODOS  --- ]</option>
                        <option ng-repeat="item in ListaZonas" value="{{item.id_ZonaVta}}">{{item.nombreZonaVta}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="filtro_personal_supérvisor">Personal Supervisor</label> <span class="help-block"></span>
                    <select class="select_modal" id="filtro_personal_supérvisor" data-style="btn-default" ng-model="Objeto_ParametroFiltro.id_supervisor">
                        <option value="0">[ ----   TODOS  --- ]</option>
                        <option ng-repeat="item in ListaPersonal" value="{{item.id_personal}}">{{item.nombres_personal}} {{item.apellidos_personal}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="filtro_estado" style="margin-bottom: 10px;">Estado</label> <span class="help-block"></span>
                    <select class="select_modal" id="filtro_estado" data-style="btn-default" ng-model="Objeto_ParametroFiltro.id_estado">
                        <option value="0">[ ----   Seleccione  --- ]</option>
                        <option ng-repeat="item in listaEstados" value="{{item.id}}">{{item.descripcion}}</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px; margin-top: 10px;">
                <div class="col-sm-12  ">
                    <div class="row col-sm-6">
                        <input id="inputSearch" type="text" ng-model="Objeto_ParametroFiltro.buscar_ruta" placeholder="Buscar rutas de ventas..." style="width: 120%;" class="form-control btn-block inputSearch" autocomplete="off">
                    </div>
                    <div class="row col-sm-6">
                        <button id="btn-material" class="btn btn-primary btn-sm m-l-10" ng-click="search_rutasVentas();">
                            <i class="glyphicon glyphicon-search"></i> Buscar
                        </button>
                        <button id="btn-material" class="btn btn-outline btn-primary btn-sm m-l-10" ng-click="Open_New_Modal();">
                            <i class="glyphicon glyphicon-plus"></i> Nuevo
                        </button>
                        <button id="btn-material" class="btn btn-success btn-sm m-l-10" ng-click="ExportarToExcel();">
                            <i class="glyphicon glyphicon-save"></i> Exportar
                        </button>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="panel-body ContentFilters">
        <div class="form-inline ">
            <div class="row">
                <div class="col-sm-12">
                    <div style="text-align:center">
                        <div class="cssload-speeding-wheel" ng-if="loader"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="white-box">
                    <table id="tbl_rutasVentas" class="table m-b-0 toggle-arrow-tiny table-hover table-bordered" data-page-size="10">
                        <thead>
                            <tr>
                                <th data-toggle="true">#</th>
                                <th data-toggle="true">RUTA</th>
                                <th data-toggle="true">PERSONAL VENDEDOR</th>
                                <th data-toggle="true"> USUARIO </th>
                                <th data-hide=""> ZONA</th>
                                <th data-hide=""> PERSONAL SUPERVISOR</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListaRutasVentas" style="{{item.estado == 0 | iif : 'background-color: rgb(230, 115, 115) !important;color:#fff;font-weight: 600;'}}">
                                <td>{{$index + 1}}</td>
                                <td>{{item.nombreRutaVta}}</td>
                                <td>{{item.personal_vendedor_nombre}} </td>
                                <td>{{item.usuario}}</td>
                                <td>{{item.nombreZonaVta}}</td>
                                <td>{{item.personal_supervisor_nombre}}</td>
                                <td>{{item.estado == 0 | iif : "Anulado" : "Activado"}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-circle " ng-click="Open_Update_Modal(item);" data-toggle="tooltip" title="EDITAR"><i class=" ti-pencil-alt"></i></button>
                                    <button type="button" class="btn btn-success btn-circle" ng-click="getAuditorias(item);" data-toggle="tooltip" title="AUDITAR"><i class="fa fa-cog"></i> </button>
                                    <button type="button" class="btn btn-warning btn-circle" ng-click="getAnular(item);" style="background-color: #ff6849; border-color: #ff6849;" title="ANULAR"><i class="fa fa-trash"></i> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-right">
                        <ul class="pagination pagination-split m-t-30"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modalMantenimiento" class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #2b4c6c ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel" style="color:white !important">{{Flag_modoEdicion ? 'Actualizar': 'Registrar'}} {{titleModal}}</h4>
            </div>
            <div class="modal-body">

                <div class="loaderModal" ng-if="loaderSave"></div>

                <div class="contentRegistro contentCombo floating-labels form-inline" style="margin-bottom: 10px;">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="nombreRutaVta" maxlength="50" ng-model="objeto_parametros.nombreRutaVta"><span class="highlight"></span> <span class="bar"></span>
                            <label for="nroDoc_personal">Nombre Ruta</label> <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="personal_vendedor" style="margin-bottom: 10px;">Personal Vendedor</label> <span class="help-block"></span>
                            <select class="select_modal" id="personal_vendedor" data-style="btn-default" ng-model="objeto_parametros.id_Personal_Vendedor">
                                <option value="0">[ ----   Seleccione  --- ]</option>
                                <option ng-repeat="item in ListaPersonal" value="{{item.id_personal}}">{{item.nombres_personal}} {{item.apellidos_personal}}    -   {{item.codigo_personal}}    </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="zona_venta">Zona de ventas</label> <span class="help-block"></span>
                            <select class="select_modal" id="zona_venta" data-style="btn-default" ng-model="objeto_parametros.id_ZonaVta">
                                <option value="0">[ ----   Seleccione  --- ]</option>
                                <option ng-repeat="item in ListaZonas" value="{{item.id_ZonaVta}}">{{item.nombreZonaVta}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="personal_supérvisor">Personal Supervisor</label> <span class="help-block"></span>
                            <select class="select_modal" id="personal_supérvisor" data-style="btn-default" ng-model="objeto_parametros.id_Personal_Supervisor">
                                <option value="0">[ ----   Seleccione  --- ]</option>
                                <option ng-repeat="item in ListaPersonal" value="{{item.id_personal}}">{{item.nombres_personal}} {{item.apellidos_personal}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="contentRegistro contentCombo floating-labels form-inline">
                    <fieldset>
                        <legend>Metas de Venta de la Ruta</legend>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="number" class="form-control" id="meta_vtauni" maxlength="20" autocomplete="off" ng-model="objeto_parametros.meta_vtauni"><span class="highlight"></span> <span class="bar"></span>
                                <label for="meta_vtauni">Total Meta Venta</label> <span class="help-block"></span>
                            </div>
                            <div class="col-md-3">
                                <input type="number" class="form-control" id="meta_vtasol" maxlength="20" autocomplete="off" ng-model="objeto_parametros.meta_vtasol"><span class="highlight"></span> <span class="bar"></span>
                                <label for="meta_vtasol">Meta Venta Soles</label> <span class="help-block"></span>
                            </div>
                            <div class="col-md-3">
                                <input type="number" class="form-control" id="DropSize" maxlength="20" autocomplete="off" ng-model="objeto_parametros.DropSize"><span class="highlight"></span> <span class="bar"></span>
                                <label for="DropSize">Drop Size</label> <span class="help-block"></span>
                            </div>
                            <div class="col-md-3">
                                <input type="number" class="form-control" id="ObjEfectividad" maxlength="20" autocomplete="off" ng-model="objeto_parametros.ObjEfectividad"><span class="highlight"></span> <span class="bar"></span>
                                <label for="ObjEfectividad">Obj. Efectividad</label> <span class="help-block"></span>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="contentRegistro contentCombo floating-labels form-inline">
                    <fieldset>
                        <legend>Metas de Distribución</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="number" class="form-control" id="ObjDistribucion" maxlength="20" autocomplete="off" ng-model="objeto_parametros.ObjDistribucion"><span class="highlight"></span> <span class="bar"></span>
                                <label for="ObjDistribucion">Objetivo Distribución</label> <span class="help-block"></span>
                            </div>
                            <div class="col-md-6">
                                <input type="number" class="form-control" id="ObjNewClientes" maxlength="20" autocomplete="off" ng-model="objeto_parametros.ObjNewClientes"><span class="highlight"></span> <span class="bar"></span>
                                <label for="ObjNewClientes">Clientes Nuevos</label> <span class="help-block"></span>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row ">
                        <div class="col-sm-6">
                            <fieldset>
                                <legend>Estado</legend>
                                <div class="row " style=" margin-top: -10px;">
                                    <div class="col-sm-6 ">
                                        <div class="form-group">
                                            <div class="checkbox checkbox-success">
                                                <input id="checkbox1" type="checkbox" disabled ng-model="objEstados.activo" ng-change="changeStatus(objEstados.activo);">
                                                <label for="checkbox1" class="estadoModal" style="color : {{objEstados.colorText}}">{{objEstados.text}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <a class="btn btn-primary" ng-click="GuardarRegistro();"> <span class="glyphicon glyphicon-floppy-disk"></span> {{Flag_modoEdicion ? 'Actualizar': 'Agregar'}}</a>
                <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Cerrar</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>




